# Criteo

https://www.kaggle.com/competitions/criteo-display-ad-challenge/data

In [1]:
import pandas as pd

compressed_link='https://go.criteo.net/criteo-research-kaggle-display-advertising-challenge-dataset.tar.gz'

filepath='test.txt'

# Load and preview

In [2]:
df=pd.read_csv(filepath, sep='\t', header=None)

In [ ]:
# Defining the column names
column_names = ['Label'] + [f'I{i}' for i in range(1, 14)] + [f'C{i}' for i in range(1, 27)]

# Assigning column names to the DataFrame
df.columns = column_names

In [4]:
df.nunique()

0         415
1        6159
2        5037
3         215
4      197664
5        6422
6        2550
7         570
8        4828
9           9
10        146
11        267
12        507
13       1351
14        554
15    1654603
16     496951
17        280
18         22
19      11815
20        596
21          3
22      55575
23       4852
24    1426968
25       3129
26         27
27      12147
28    1029667
29         10
30       4866
31       2076
32          3
33    1254818
34         17
35         14
36     107745
37         89
38      69135
dtype: int64

# polar load

In [2]:
import polars as pl

column_names = ['Label'] + [f'I{i}' for i in range(1, 14)] + [f'C{i}' for i in range(1, 27)]

In [4]:
df_polars = pl.read_csv(filepath, new_columns=column_names)