# Goal of the ML project 
- Dataset: citybike sharing system

# Data Selection

## Import libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display

## Import Functions

In [2]:
%run "scripts/dslabs_functions.py"

dslabs_functions lodaded

## Load Files

### Weather file - New York
- Weather info, daily and hourly, from NewYork for the year 201 and 2023.
    - info: rain, precipitation, temperature,...
- This weather info was extracted from OpenMeteo
    - Link here - https://open-meteo.com/en/docs/historical-weather-api#latitude=40.7143&longitude=-74.006&start_date=2019-01-01&end_date=2019-12-31&hourly=temperature_2m,relative_humidity_2m,dew_point_2m,apparent_temperature,precipitation,rain,snowfall,snow_depth,weather_code,pressure_msl,surface_pressure,cloud_cover,cloud_cover_low,cloud_cover_mid,cloud_cover_high,et0_fao_evapotranspiration,vapour_pressure_deficit,wind_speed_10m,wind_speed_100m,wind_direction_10m,wind_direction_100m,wind_gusts_10m,soil_temperature_0_to_7cm,soil_temperature_7_to_28cm,soil_temperature_28_to_100cm,soil_temperature_100_to_255cm,soil_moisture_0_to_7cm,soil_moisture_7_to_28cm,soil_moisture_28_to_100cm,soil_moisture_100_to_255cm&daily=&timezone=America%2FNew_York&models=

In [18]:
filepath_weather_ny_h = r'data/open-meteo-new-york-hourly-2019.csv'
filepath_weather_ny_d = r'data/open-meteo-new-york-daily-2019.csv'

In [19]:
df_weather_ny_h = pd.read_csv(filepath_weather_ny_h,sep=';', na_values="")
df_weather_ny_d = pd.read_csv(filepath_weather_ny_d, sep =';', na_values="")

display(df_weather_ny_h.head(5))
display(df_weather_ny_d.head(5))

,time,temperature_2m (°C),relative_humidity_2m (%),dew_point_2m (°C),apparent_temperature (°C),precipitation (mm),rain (mm),snowfall (cm),snow_depth (m),weather_code (wmo code),...,wind_direction_100m (°),wind_gusts_10m (km/h),soil_temperature_0_to_7cm (°C),soil_temperature_7_to_28cm (°C),soil_temperature_28_to_100cm (°C),soil_temperature_100_to_255cm (°C),soil_moisture_0_to_7cm (m³/m³),soil_moisture_7_to_28cm (m³/m³),soil_moisture_28_to_100cm (m³/m³),soil_moisture_100_to_255cm (m³/m³)
0,2019-01-01T00:00,8.7,98,8.3,6.3,2.0,2.0,0.0,0.0,61,...,201,32.8,5.8,5.0,6.9,11.2,0.430,0.430,0.423,0.418
1,2019-01-01T01:00,9.2,97,8.7,6.7,0.5,0.5,0.0,0.0,53,...,222,24.5,6.1,5.1,6.9,11.2,0.427,0.429,0.424,0.418
2,2019-01-01T02:00,10.8,96,10.3,7.9,0.4,0.4,0.0,0.0,51,...,225,32.8,6.5,5.2,6.9,11.2,0.428,0.429,0.425,0.418
3,2019-01-01T03:00,12.6,94,11.6,8.9,0.0,0.0,0.0,0.0,3,...,230,46.1,7.1,5.4,6.9,11.2,0.425,0.428,0.425,0.418
4,2019-01-01T04:00,13.4,93,12.3,9.7,0.0,0.0,0.0,0.0,3,...,240,51.1,7.6,5.6,6.9,11.2,0.424,0.427,0.425,0.418

,time,weather_code (wmo code),temperature_2m_max (°C),temperature_2m_min (°C),temperature_2m_mean (°C),apparent_temperature_max (°C),apparent_temperature_min (°C),apparent_temperature_mean (°C),sunrise (iso8601),sunset (iso8601),daylight_duration (s),sunshine_duration (s),precipitation_sum (mm),rain_sum (mm),snowfall_sum (cm),precipitation_hours (h),wind_speed_10m_max (km/h),shortwave_radiation_sum (MJ/m²)
0,01/01/2019,61,14.3,3.3,9.4,10.4,-1.3,4.8,2019-01-01T07:20,2019-01-01T16:39,33528.87,16687.35,2.9,2.9,0.0,3.0,35.6,6.53
1,02/01/2019,3,3.6,-0.5,1.9,0.4,-4.9,-2.1,2019-01-02T07:20,2019-01-02T16:39,33574.42,18708.15,0.0,0.0,0.0,0.0,16.0,6.20
2,03/01/2019,3,6.9,0.1,4.2,2.1,-3.5,-0.0,2019-01-03T07:20,2019-01-03T16:40,33624.07,21817.70,0.0,0.0,0.0,0.0,25.7,7.29
3,04/01/2019,3,7.9,-1.4,2.7,3.4,-5.5,-1.3,2019-01-04T07:20,2019-01-04T16:41,33677.70,24447.59,0.0,0.0,0.0,0.0,20.4,7.21
4,05/01/2019,63,6.6,2.8,5.2,3.5,-1.0,1.6,2019-01-05T07:20,2019-01-05T16:42,33735.19,0.00,20.0,20.0,0.0,18.0,23.8,1.50

### Main file - city bike share system
- Data on each ride in the citibyke share system
    - Contains info on the start and end of the trip, star and end station of the trip, type of user (member or casual) and type of bike
    - Data provided on citybike website
        - link here - https://citibikenyc.com/system-data

#### 2023 data

In [39]:
test_data = False

# test_data = False
 
# Load the data

if test_data:
    df_main = pd.read_csv(filepath, na_values="")
    df_main: Dataframe = df_main.sample(frac = 0.1,sep = ',', replace = False)
else:
    df_main = pd.read_csv(filepath, sep =',', na_values="")

display(df_main)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5078F3D302000BD2,electric_bike,2024-01-22 18:43:19.012,2024-01-22 18:48:10.708,Frederick Douglass Blvd & W 145 St,7954.12,St Nicholas Ave & W 126 St,7756.10,40.823072,-73.941738,40.811432,-73.951878,member
1,814337105D37302A,electric_bike,2024-01-11 19:19:18.721,2024-01-11 19:47:36.007,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761822,-73.977036,40.768974,-73.954823,member
2,A33A920E2B10710C,electric_bike,2024-01-30 19:17:41.693,2024-01-30 19:32:49.857,E 11 St & Ave B,5659.11,W 10 St & Washington St,5847.06,40.727592,-73.979751,40.733424,-74.008515,casual
3,A3A5FC0DD7D34D74,electric_bike,2024-01-27 11:27:01.759,2024-01-27 11:38:01.213,W 54 St & 6 Ave,6771.13,E 74 St & 1 Ave,6953.08,40.761779,-73.977144,40.768974,-73.954823,member
4,6F96728ECEFBDAA4,electric_bike,2024-01-16 15:15:41.000,2024-01-16 15:29:26.156,Madison Ave & E 99 St,7443.01,E 74 St & 1 Ave,6953.08,40.789808,-73.952214,40.768974,-73.954823,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1888080,A000BAF8F05029A8,classic_bike,2024-01-29 07:40:32.831,2024-01-29 07:45:13.186,Humboldt St & Varet St,4956.02,Graham Ave & Grand St,5178.06,40.703172,-73.940636,40.711863,-73.944024,member
1888081,C77BE3036B21E968,electric_bike,2024-01-29 11:56:47.527,2024-01-29 12:03:24.659,43 Ave & 47 St,6209.05,Skillman Ave & Honeywell St,6334.03,40.744836,-73.917026,40.747148,-73.929024,member
1888082,237086E0CB225F12,classic_bike,2024-01-12 16:51:37.231,2024-01-12 17:33:56.691,Herkimer St & New York Ave,4172.04,5 Ave & 41 St,3306.03,40.679550,-73.947090,40.649983,-74.005144,member
1888083,AE07BD9F78098E07,classic_bike,2024-01-26 09:32:45.932,2024-01-26 09:55:00.522,W 116 St & Amsterdam Ave,7692.11,Central Park S & 6 Ave,6876.04,40.806758,-73.960708,40.765909,-73.976342,member
1888084,6CA3DBF7480682C2,electric_bike,2024-01-29 17:29:55.879,2024-01-29 17:39:24.780,W 30 St & 10 Ave,6459.07,Broadway & E 21 St,6098.10,40.752639,-74.002342,40.739888,-73.989586,member

In [2]:
import os
import pandas as pd

# Diretório onde os ficheiros estão armazenados
directory = 'data/2023-citibike-tripdata'

# Lista para armazenar os DataFrames
dfs = []

# Iterar sobre todos os ficheiros no diretório
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        filepath = os.path.join(directory, filename)
        # Ler o ficheiro e adicioná-lo à lista
        df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
        dfs.append(df)

# Combinar todos os DataFrames em um só
df_2 = pd.concat(dfs, ignore_index=True)

# Verificar o DataFrame combinado
print(df_2.head())

# Salvar o DataFrame combinado em um único ficheiro, se necessário
df_2.to_csv('data/2023-citibike-tripdata.csv', index=False)

/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário
/var/folders/c4/7p0dsfgx11b12ysjrzs_hf940000gn/T/ipykernel_8692/3203093729.py:15: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(filepath, sep=',')  # Ajuste 'sep' se necessário

            ride_id  rideable_type               started_at  \
0  5772778972800B87  electric_bike  2023-12-20 06:18:04.187
1  32DD834BEA2ABA5B   classic_bike  2023-12-21 16:15:52.308
2  3B6B1AA2B94A01D1   classic_bike  2023-12-07 11:49:31.277
3  A8F4C66161031B63  electric_bike  2023-12-26 06:17:43.385
4  A6176AFE373FB4C8  electric_bike  2023-12-21 06:58:24.078

                  ended_at start_station_name start_station_id  \
0  2023-12-20 06:24:50.461    W 41 St & 8 Ave          6602.03
1  2023-12-21 16:21:22.124      46 Ave & 5 St          6286.02
2  2023-12-07 11:56:07.264      46 Ave & 5 St          6286.02
3  2023-12-26 06:24:11.386    W 41 St & 8 Ave          6602.03
4  2023-12-21 07:04:17.045    E 53 St & 3 Ave          6617.02

        end_station_name end_station_id  start_lat  start_lng    end_lat  \
0  Madison Ave & E 26 St        6131.12  40.756330 -73.989260  40.742685
1    44 Dr & Jackson Ave        6352.01  40.747310 -73.954510  40.747182
2    44 Dr & Jackson Ave        6352.01  40.747310 -73.954510  40.747182
3  Madison Ave & E 26 St        6131.12  40.756456 -73.989694  40.742685
4        1 Ave & E 68 St        6822.09  40.757470 -73.969427  40.765005

     end_lng member_casual
0 -73.986713        member
1 -73.943264        member
2 -73.943264        member
3 -73.986713        member
4 -73.958185        member

In [4]:
display(df_2.head())

display(df_2.shape)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,5772778972800B87,electric_bike,2023-12-20 06:18:04.187,2023-12-20 06:24:50.461,W 41 St & 8 Ave,6602.03,Madison Ave & E 26 St,6131.12,40.756330,-73.989260,40.742685,-73.986713,member
1,32DD834BEA2ABA5B,classic_bike,2023-12-21 16:15:52.308,2023-12-21 16:21:22.124,46 Ave & 5 St,6286.02,44 Dr & Jackson Ave,6352.01,40.747310,-73.954510,40.747182,-73.943264,member
2,3B6B1AA2B94A01D1,classic_bike,2023-12-07 11:49:31.277,2023-12-07 11:56:07.264,46 Ave & 5 St,6286.02,44 Dr & Jackson Ave,6352.01,40.747310,-73.954510,40.747182,-73.943264,member
3,A8F4C66161031B63,electric_bike,2023-12-26 06:17:43.385,2023-12-26 06:24:11.386,W 41 St & 8 Ave,6602.03,Madison Ave & E 26 St,6131.12,40.756456,-73.989694,40.742685,-73.986713,member
4,A6176AFE373FB4C8,electric_bike,2023-12-21 06:58:24.078,2023-12-21 07:04:17.045,E 53 St & 3 Ave,6617.02,1 Ave & E 68 St,6822.09,40.757470,-73.969427,40.765005,-73.958185,member

(35107030, 13)

## Sampling

# Data Cleaning/Transformation

## Open street map

## Add more info on the borough (queens, manhathan, bronx,...) of the stations

## Add points of interest (turist spots) near the stations or for each borough

## Add variable that indicates if the ride was near the river or not

## Add more time variables from data variable

## Merge the two dataframes - Weather data vs citybike data

## Add variable of distance between stations (end and start station) to the dataset
    - With distance, it's also possible to calculate the velocity of the rides (faster, slow,..)

# Data Exploration

## How many rides per day, month, quarter?

## How many rides per bicyle type and by type of user?

# Encoding Excel File

In [ ]:

# Define the groups of columns for hierarchical encoding, grouped by sheet name
columns_to_save = {
    
    'product_name' : ['product_id', 'product_name'],  
    'aisle' : ['department_id', 'department','aisle_id', 'aisle'],
    'department' : ['department_id', 'department'],

}



# Save the distinct values combinations of each column group into corresponding sheets
append_columns_to_excel(enriched_data, columns_to_save, f'data/instacart_pre_encoding.xlsx')

print("Excel file has been updated successfully.")

Error: property 'book' of 'OpenpyxlWriter' object has no setter
The file might be corrupt or invalid. Creating a new file.
Excel file has been updated successfully.

# Final df to csv

In [ ]:
data.to_csv('data/instacart_pre_proc.csv',index=False)

# NOTES / TO DOS

- Sampling on the main file. Or just get data from 3 months of the year like (march, april, may)
- Add boroughs to the city bike data
    ask chatgpt to get borough name (queens, manathan, bronx,...) with the station name
- Add point of interest near each station, makes sense?
- Neste dataset, juntar info de distancias das viagens, e vais ter a possibilidade de ter a velocidade na viagem (vigens mais rápidas ou mais lentas)
    - Para juntar as distancias, tentar obter através da api do Open street map. Api que consegues calcular as distancias entre as distancias da estacao inicial e final
        - considerar colunas start_lat, start_lng,	end_lat, end_lng
    - Pedir ao João para ver como obter este calculo das distancias