# Pattern Analysis
https://web.ist.utl.pt/rmch/dash/guides/AssociationRuleMining%20in%20Python.html

Association Pattern Analysis

- What are the aisles most purchased together?
- Which aisles are most reordered together?
- Which aisles are most ordered isolately?

ARM Resources
- https://www.kaggle.com/code/datatheque/association-rules-mining-market-basket-analysis/notebook
- https://comum.rcaap.pt/bitstream/10400.26/37552/1/Tese_JoanaOliveira.pdf

# File and libraries

## DSLabs

In [1]:
%run "scripts/dslabs_functions.py"

dslabs_functions lodaded

# data functions

In [ ]:
%run "scripts/data_functions.py"

data_functions lodaded

# Load

In [6]:
import pandas as pd
import numpy as np



#get file from data pre processing notebook. This file has all the column we need to start the data profiling phase
filepath = r'data/citi_bike_data_prep_outliers.csv'


file_tag = 'Citi Bike'

In [7]:
test_data = True
# test_data = False

# Load the data
if test_data:
    df = pd.read_csv(filepath, na_values="")

    df: DataFrame = df.sample(frac=0.0015, replace = False)

else:
    # If not test_data, load the entire dataset
    df = pd.read_csv(filepath)

#id_cols=['ride_id','start_time', 'end_time','start_station','end_station','start_station_id','end_station_id','start_lat','start_lng', 'end_lat', 'end_lng','wmo_weather_code','snowfall_cm','ride_duration_sec']
##remove also col = 'snowfall_cm' because it has only 0 values in our dataset
##remove also start_station and end_Station = they have too many unique values(around 2k) which will make the encoding process very slow
#
#df=df.drop(columns=id_cols, axis=1)

df.head(10)
display(df.shape)

(4568, 39)

In [8]:
display(df.head(10))

,bike_type,user_type,day_of_month,is_weekend,ride_duration_min,temperature_2m,rain_mm,cloud_cover_low_pct,wind_speed_10m,ride_distance_km,...,end_borough_Staten Island,wmo_weather_desc_Clear sky,wmo_weather_desc_Drizzle: Dense,wmo_weather_desc_Drizzle: Light,wmo_weather_desc_Drizzle: Moderate,wmo_weather_desc_Mainly clear,wmo_weather_desc_Overcast,wmo_weather_desc_Partly cloudy,wmo_weather_desc_Rain: Moderate,wmo_weather_desc_Rain: Slight
128519,0,1,10,0,11.481050,10.6,0.0,3,6.3,1.835061,...,0,0,0,0,0,0,1,0,0,0
2506261,1,1,26,0,9.497200,13.0,0.0,1,18.4,2.276733,...,0,0,0,0,0,0,0,1,0,0
1414333,1,1,1,0,26.612350,9.4,0.6,56,10.7,0.006542,...,0,0,0,0,1,0,0,0,0,0
72284,1,0,14,1,6.823533,19.8,0.0,0,17.8,1.364635,...,0,0,0,0,0,0,1,0,0,0
1718521,1,1,4,0,21.958350,9.0,0.0,100,17.6,6.990660,...,0,0,0,0,0,0,1,0,0,0
158764,1,0,14,1,3.604367,19.4,0.0,0,20.3,0.448918,...,0,0,0,0,0,0,1,0,0,0
889430,0,1,20,1,6.796867,14.5,0.0,24,9.7,1.084604,...,0,0,0,0,0,0,0,1,0,0
445042,1,0,13,1,18.612100,11.1,0.0,16,23.2,0.590253,...,0,0,0,0,0,0,1,0,0,0
1363702,1,0,8,0,21.321650,4.1,0.0,0,7.1,5.078780,...,0,0,0,0,0,1,0,0,0,0
2702735,1,1,6,1,5.225150,8.2,0.1,99,26.7,0.533902,...,0,0,0,1,0,0,0,0,0,0

In [11]:
summary = df.describe(include='all')

display(summary)

,bike_type,user_type,day_of_month,is_weekend,ride_duration_min,temperature_2m,rain_mm,cloud_cover_low_pct,wind_speed_10m,ride_distance_km,...,end_borough_Staten Island,wmo_weather_desc_Clear sky,wmo_weather_desc_Drizzle: Dense,wmo_weather_desc_Drizzle: Light,wmo_weather_desc_Drizzle: Moderate,wmo_weather_desc_Mainly clear,wmo_weather_desc_Overcast,wmo_weather_desc_Partly cloudy,wmo_weather_desc_Rain: Moderate,wmo_weather_desc_Rain: Slight
count,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,...,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.000000,4568.0,4568.0
mean,0.650832,0.816769,16.567644,0.281086,11.702204,13.010530,0.041112,19.497811,15.288529,1.876324,...,0.000219,0.275394,0.001970,0.082968,0.034588,0.092601,0.442207,0.070271,0.0,0.0
std,0.476759,0.386898,8.189285,0.449578,9.948053,5.151173,0.141591,34.518160,7.163082,1.436140,...,0.014796,0.446762,0.044348,0.275865,0.182755,0.289904,0.496703,0.255632,0.0,0.0
min,0.000000,0.000000,1.000000,0.000000,1.007367,0.600000,0.000000,0.000000,0.800000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,0.000000,1.000000,10.000000,0.000000,5.108567,9.100000,0.000000,0.000000,9.700000,0.846678,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
50%,1.000000,1.000000,16.000000,0.000000,8.699058,12.300000,0.000000,0.000000,14.400000,1.486943,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0
75%,1.000000,1.000000,24.000000,1.000000,14.890625,17.100000,0.000000,18.000000,20.150000,2.508713,...,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0
max,1.000000,1.000000,30.000000,1.000000,74.648050,28.100000,1.100000,100.000000,36.400000,7.238462,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.0,0.0

In [26]:
import pandas as pd
from mlxtend.frequent_patterns import fpgrowth, association_rules

# Copiar DataFrame para não alterar o original
df_bin = df.copy()

# Discretizar colunas numéricas em 4 categorias (quartis)
num_cols = ['ride_duration_min', 'temperature_2m', 'rain_mm', 'cloud_cover_low_pct', 'wind_speed_10m', 'ride_distance_km','ride_avg_speed']

for col in num_cols:
    # Criar os bins com duplicação removida
    bins = pd.qcut(df_bin[col], q=4, labels=False, duplicates='drop')
    
    # Ajustar os labels conforme o número de bins
    unique_bins = len(bins.unique())
    labels = [f"{col}_low", f"{col}_mid_low", f"{col}_mid_high", f"{col}_high"]
    if unique_bins < 4:
        # Ajusta os labels de acordo com o número de bins reais
        labels = labels[:unique_bins]
    
    # Atribuir as categorias ao DataFrame
    df_bin[col] = pd.qcut(df_bin[col], q=4, labels=labels, duplicates='drop')


# Transformar em variáveis binárias (one-hot encoding)
df_bin = pd.get_dummies(df_bin, columns=num_cols)


# O FP-Growth precisa de valores True/False ou 0/1
df_bin = df_bin.astype(bool)

df_bin = df_bin.drop(columns=num_cols)

In [27]:
display(df_bin.columns)

Index(['bike_type', 'user_type', 'day_of_month', 'is_weekend',
       'time_of_day_sin', 'time_of_day_cos', 'day_of_week_sin',
       'day_of_week_cos', 'hour_sin', 'hour_cos', 'start_borough_Bronx',
       'start_borough_Brooklyn', 'start_borough_Jersey City',
       'start_borough_Manhattan', 'start_borough_Queens',
       'start_borough_Staten Island', 'end_borough_Bronx',
       'end_borough_Brooklyn', 'end_borough_Hoboken',
       'end_borough_Jersey City', 'end_borough_Manhattan',
       'end_borough_Queens', 'end_borough_Staten Island',
       'wmo_weather_desc_Clear sky', 'wmo_weather_desc_Drizzle: Dense',
       'wmo_weather_desc_Drizzle: Light', 'wmo_weather_desc_Drizzle: Moderate',
       'wmo_weather_desc_Mainly clear', 'wmo_weather_desc_Overcast',
       'wmo_weather_desc_Partly cloudy', 'wmo_weather_desc_Rain: Moderate',
       'wmo_weather_desc_Rain: Slight',
       'ride_duration_min_ride_duration_min_low',
       'ride_duration_min_ride_duration_min_mid_low',
       'ride_duration_min_ride_duration_min_mid_high',
       'ride_duration_min_ride_duration_min_high',
       'temperature_2m_temperature_2m_low',
       'temperature_2m_temperature_2m_mid_low',
       'temperature_2m_temperature_2m_mid_high',
       'temperature_2m_temperature_2m_high', 'rain_mm_rain_mm_low',
       'cloud_cover_low_pct_cloud_cover_low_pct_low',
       'cloud_cover_low_pct_cloud_cover_low_pct_mid_low',
       'wind_speed_10m_wind_speed_10m_low',
       'wind_speed_10m_wind_speed_10m_mid_low',
       'wind_speed_10m_wind_speed_10m_mid_high',
       'wind_speed_10m_wind_speed_10m_high',
       'ride_distance_km_ride_distance_km_low',
       'ride_distance_km_ride_distance_km_mid_low',
       'ride_distance_km_ride_distance_km_mid_high',
       'ride_distance_km_ride_distance_km_high',
       'ride_avg_speed_ride_avg_speed_low',
       'ride_avg_speed_ride_avg_speed_mid_low',
       'ride_avg_speed_ride_avg_speed_mid_high',
       'ride_avg_speed_ride_avg_speed_high'],
      dtype='object')

## Top Association Pattern Mining

In [28]:

from mlxtend.frequent_patterns import fpgrowth, association_rules

# Generate frequent itemsets using fpgrowth
frequent_itemsets = fpgrowth(df_bin, min_support=0.6, use_colnames=True)

# Generate association rules
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

# Display the main metrics
rules[['antecedents', 'consequents', 'support', 'confidence', 'lift', 'leverage', 'conviction']]

,antecedents,consequents,support,confidence,lift,leverage,conviction
0,(rain_mm_rain_mm_low),(day_of_week_cos),1.000000,1.000000,1.000000,0.000000,inf
1,(day_of_week_cos),(rain_mm_rain_mm_low),1.000000,1.000000,1.000000,0.000000,inf
2,(time_of_day_cos),(day_of_week_cos),1.000000,1.000000,1.000000,0.000000,inf
3,(day_of_week_cos),(time_of_day_cos),1.000000,1.000000,1.000000,0.000000,inf
4,(rain_mm_rain_mm_low),(time_of_day_cos),1.000000,1.000000,1.000000,0.000000,inf
...,...,...,...,...,...,...,...
10947,(bike_type),"(rain_mm_rain_mm_low, time_of_day_cos, hour_si...",0.611208,0.939119,1.003484,0.002122,1.053557
10948,(time_of_day_cos),"(rain_mm_rain_mm_low, bike_type, hour_sin, day...",0.611208,0.611208,1.000000,0.000000,1.000000
10949,(hour_sin),"(rain_mm_rain_mm_low, bike_type, time_of_day_c...",0.611208,0.653099,1.003484,0.002122,1.006537
10950,(day_of_month),"(rain_mm_rain_mm_low, bike_type, time_of_day_c...",0.611208,0.611208,1.000000,0.000000,1.000000
10951,(day_of_week_cos),"(rain_mm_rain_mm_low, bike_type, time_of_day_c...",0.611208,0.611208,1.000000,0.000000,1.000000