Files & imports

In [2]:
from pandas import read_csv, DataFrame
import pandas as pd

In [11]:
import os
print(os.getcwd())

/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2

In [4]:
## https://www.kaggle.com/datasets/hosubjeong/bakery-sales 

data_sales = pd.read_csv("/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/dataset/Bakery Sales.csv") 
data_price = pd.read_csv("/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/dataset/Bakery price.csv")

file_tag = "Bakery"

In [5]:
data_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2421 non-null   object
 1   day of week         2420 non-null   object
 2   total               2420 non-null   float64
 3   place               2166 non-null   object
 4   angbutter           1973 non-null   float64
 5   plain bread         857 non-null    float64
 6   jam                 220 non-null    float64
 7   americano           412 non-null    float64
 8   croissant           747 non-null    float64
 9   caffe latte         193 non-null    float64
 10  tiramisu croissant  779 non-null    float64
 11  cacao deep          323 non-null    float64
 12  pain au chocolat    587 non-null    float64
 13  almond croissant    202 non-null    float64
 14  croque monsieur     0 non-null      float64
 15  mad garlic          0 non-null      float64
 16  milk tea            137 non-null    float64
 17  gateau chocolat     196 non-null    float64
 18  pandoro             343 non-null    float64
 19  cheese cake         90 non-null     float64
 20  lemon ade           35 non-null     float64
 21  orange pound        519 non-null    float64
 22  wiener              355 non-null    float64
 23  vanila latte        209 non-null    float64
 24  berry ade           54 non-null     float64
 25  tiramisu            7 non-null      float64
 26  merinque cookies    47 non-null     float64
dtypes: float64(24), object(3)
memory usage: 560.0+ KB

In [6]:
data_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    22 non-null     object
 1   price   22 non-null     object
dtypes: object(2)
memory usage: 484.0+ bytes

In [11]:
data_sales['datetime'] = pd.to_datetime(data_sales['datetime'], errors='coerce')

In [12]:
data_sales['datetime'].dtype

dtype('<M8[ns]')

In [16]:
data_sales['datetime'].isnull().sum()

233

In [18]:
data_sales.dropna(subset=['datetime'], inplace=True)

In [21]:
# Split the 'date'' column to have more information and detail on the:
# - day_of_month
# - day_ok_week 
# - is_weekend
# - moment_of_day
# - hour
# - min
#As the dataset only has data from sepecific month of 2021, we don't need to get the year, quarter.

# Create new columns based on the date column 'event_time'
data_sales['day_of_year'] = data_sales['datetime'].dt.dayofyear  # Day of the year
data_sales['week_of_month'] = data_sales['datetime'].apply(lambda x: (x.day - 1) // 7 + 1)
data_sales['is_weekend'] = data_sales['datetime'].dt.weekday.apply(lambda x: True if x >= 5 else False)
data_sales['day_of_week_nr'] = data_sales['datetime'].dt.weekday  # Monday=0, Sunday=6
data_sales['day_of_month'] = data_sales['datetime'].dt.day
data_sales['month'] = data_sales['datetime'].dt.month_name()
data_sales['hour'] = data_sales['datetime'].dt.hour
data_sales['min'] = data_sales['datetime'].dt.minute

# Create function to get time of the day
def categorize_time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

data_sales['time_of_day'] = data_sales['hour'].apply(categorize_time_of_day)

# Display the updated DataFrame
data_sales.head()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,merinque cookies,day_of_year,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,2019-07-11 15:35:00,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,192,2,False,3,11,July,15,35,Afternoon
1,2019-07-11 16:10:00,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,192,2,False,3,11,July,16,10,Afternoon
2,2019-07-12 11:49:00,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,193,2,False,4,12,July,11,49,Morning
3,2019-07-13 13:19:00,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,19,Afternoon
4,2019-07-13 13:22:00,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,22,Afternoon

# Save df from preprocessing into a csv file

In [22]:
# Definir o caminho para salvar o arquivo CSV
filepath = r'/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/df_bakery_pre_proc.csv'

# Salvar o DataFrame em CSV
data_sales.to_csv(filepath, index=False)

data_sales.head()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,merinque cookies,day_of_year,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,2019-07-11 15:35:00,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,192,2,False,3,11,July,15,35,Afternoon
1,2019-07-11 16:10:00,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,192,2,False,3,11,July,16,10,Afternoon
2,2019-07-12 11:49:00,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,193,2,False,4,12,July,11,49,Morning
3,2019-07-13 13:19:00,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,19,Afternoon
4,2019-07-13 13:22:00,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,22,Afternoon

In [24]:
from pandas import read_csv, DataFrame
import pandas as pd
#get file from data pre processing notebook. This file has all the column we need to start the data profiling phase
filepath = r'/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/df_bakery_pre_proc.csv'

file_tag = 'Bakery'

data_sales = pd.read_csv(filepath)