Files & imports

In [42]:
from pandas import read_csv, DataFrame
import pandas as pd

In [43]:
import os
print(os.getcwd())

/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2

In [44]:
## https://www.kaggle.com/datasets/hosubjeong/bakery-sales 

bakery_sales = pd.read_csv("/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/dataset/Bakery Sales.csv") 
data_price = pd.read_csv("/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/dataset/Bakery price.csv")

file_tag = "Bakery"

In [45]:
bakery_sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   datetime            2421 non-null   object
 1   day of week         2420 non-null   object
 2   total               2420 non-null   float64
 3   place               2166 non-null   object
 4   angbutter           1973 non-null   float64
 5   plain bread         857 non-null    float64
 6   jam                 220 non-null    float64
 7   americano           412 non-null    float64
 8   croissant           747 non-null    float64
 9   caffe latte         193 non-null    float64
 10  tiramisu croissant  779 non-null    float64
 11  cacao deep          323 non-null    float64
 12  pain au chocolat    587 non-null    float64
 13  almond croissant    202 non-null    float64
 14  croque monsieur     0 non-null      float64
 15  mad garlic          0 non-null      float64
 16  milk tea            137 non-null    float64
 17  gateau chocolat     196 non-null    float64
 18  pandoro             343 non-null    float64
 19  cheese cake         90 non-null     float64
 20  lemon ade           35 non-null     float64
 21  orange pound        519 non-null    float64
 22  wiener              355 non-null    float64
 23  vanila latte        209 non-null    float64
 24  berry ade           54 non-null     float64
 25  tiramisu            7 non-null      float64
 26  merinque cookies    47 non-null     float64
dtypes: float64(24), object(3)
memory usage: 560.0+ KB

In [46]:
data_price.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    22 non-null     object
 1   price   22 non-null     object
dtypes: object(2)
memory usage: 484.0+ bytes

In [47]:
bakery_sales['datetime'] = pd.to_datetime(bakery_sales['datetime'], errors='coerce')

In [48]:
bakery_sales['datetime'].dtype

dtype('<M8[ns]')

In [49]:
bakery_sales['datetime'].isnull().sum()

233

In [50]:
bakery_sales.dropna(subset=['datetime'], inplace=True)

In [51]:
# Split the 'date'' column to have more information and detail on the:
# - day_of_month
# - day_ok_week 
# - is_weekend
# - moment_of_day
# - hour
# - min
#As the dataset only has data from sepecific month of 2021, we don't need to get the year, quarter.

# Create new columns based on the date column 'event_time'
bakery_sales['day_of_year'] = bakery_sales['datetime'].dt.dayofyear  # Day of the year
bakery_sales['week_of_month'] = bakery_sales['datetime'].apply(lambda x: (x.day - 1) // 7 + 1)
bakery_sales['is_weekend'] = bakery_sales['datetime'].dt.weekday.apply(lambda x: True if x >= 5 else False)
bakery_sales['day_of_week_nr'] = bakery_sales['datetime'].dt.weekday  # Monday=0, Sunday=6
bakery_sales['day_of_month'] = bakery_sales['datetime'].dt.day
bakery_sales['month'] = bakery_sales['datetime'].dt.month_name()
bakery_sales['hour'] = bakery_sales['datetime'].dt.hour
bakery_sales['min'] = bakery_sales['datetime'].dt.minute

# Create function to get time of the day
def categorize_time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

bakery_sales['time_of_day'] = bakery_sales['hour'].apply(categorize_time_of_day)

# Display the updated DataFrame
bakery_sales.head()

,datetime,day of week,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,...,merinque cookies,day_of_year,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,2019-07-11 15:35:00,Thur,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,...,NaN,192,2,False,3,11,July,15,35,Afternoon
1,2019-07-11 16:10:00,Thur,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,192,2,False,3,11,July,16,10,Afternoon
2,2019-07-12 11:49:00,Fri,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,193,2,False,4,12,July,11,49,Morning
3,2019-07-13 13:19:00,Sat,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,19,Afternoon
4,2019-07-13 13:22:00,Sat,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,22,Afternoon

In [52]:
bakery_sales = bakery_sales.drop(columns=["datetime", "day of week"])

In [53]:
bakery_sales.head()

,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,...,merinque cookies,day_of_year,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,23800.0,NaN,1.0,NaN,NaN,1.0,NaN,NaN,3.0,NaN,...,NaN,192,2,False,3,11,July,15,35,Afternoon
1,15800.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,192,2,False,3,11,July,16,10,Afternoon
2,58000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.0,NaN,...,NaN,193,2,False,4,12,July,11,49,Morning
3,14800.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,194,2,True,5,13,July,13,19,Afternoon
4,15600.0,NaN,2.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,194,2,True,5,13,July,13,22,Afternoon

## Create additional columns for clustering:
- how many products per fatura
- how many of each per fatura: X drinks, Y bakery items

Clustering: olhar p fatura e ver o comportamento de compra
ARM: olhar para categorias/produtos mais associados entre si.

# Fill null values from products with 0

In [55]:
produto_cols = [col for col in bakery_sales.columns if col in ["angbutter", "plain bread", "jam", "americano", "croissant", 
                                                     "caffe latte", "tiramisu croissant", "cacao deep", 
                                                     "pain au chocolat","almond croissant", "croque monsieur", 
                                                       "mad garlic", "milk tea", "gateau chocolat", "pandoro", "cheese cake",
                                                         "lemon ade", "orange pound", "wiener", "vanila latte", "berry ade",
                                                           "tiramisu", "merinque cookies"]]
bakery_sales[produto_cols] = bakery_sales[produto_cols].fillna(0)

In [56]:
bakery_sales.head()

,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,...,merinque cookies,day_of_year,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,23800.0,NaN,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,...,0.0,192,2,False,3,11,July,15,35,Afternoon
1,15800.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,192,2,False,3,11,July,16,10,Afternoon
2,58000.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,...,0.0,193,2,False,4,12,July,11,49,Morning
3,14800.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,194,2,True,5,13,July,13,19,Afternoon
4,15600.0,NaN,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,194,2,True,5,13,July,13,22,Afternoon

# Save df from preprocessing into a csv file

In [57]:
# Definir o caminho para salvar o arquivo CSV
filepath = r'/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/df_bakery_pre_proc.csv'

# Salvar o DataFrame em CSV
bakery_sales.to_csv(filepath, index=False)

bakery_sales.head()

,total,place,angbutter,plain bread,jam,americano,croissant,caffe latte,tiramisu croissant,cacao deep,...,merinque cookies,day_of_year,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,23800.0,NaN,1.0,0.0,0.0,1.0,0.0,0.0,3.0,0.0,...,0.0,192,2,False,3,11,July,15,35,Afternoon
1,15800.0,NaN,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,192,2,False,3,11,July,16,10,Afternoon
2,58000.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0,14.0,0.0,...,0.0,193,2,False,4,12,July,11,49,Morning
3,14800.0,NaN,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,194,2,True,5,13,July,13,19,Afternoon
4,15600.0,NaN,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,194,2,True,5,13,July,13,22,Afternoon

In [58]:
from pandas import read_csv, DataFrame
import pandas as pd
#get file from data pre processing notebook. This file has all the column we need to start the data profiling phase
filepath = r'/Users/cozmaeug/Private/IST PG - DS/DaSH ENG/ist_dash_2024_rec/non_supervised_analysis/notebooks/dataset_2/df_bakery_pre_proc.csv'

file_tag = 'Bakery'

bakery_sales = pd.read_csv(filepath)