# Import libraries

In [14]:
import pandas as pd
import numpy as np

# Import Functions

In [15]:
%run "dslabs_functions.py" #run notebook with functions made py the professor and that are going to be use in the project

In [16]:
filepath=r'dataset/2020-Apr.csv'

# Import file

In [50]:
df = pd.read_csv('dataset/2020-Apr.csv')

pd.set_option('display.max_rows', 100)

df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851
1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6
2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e
3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8
4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc

# Load

In [17]:
test_data = True
# test_data = False

# Load the data
if test_data:
    df = pd.read_csv(filepath, na_values="")

    df: DataFrame = df.sample(frac=0.0015, replace = False)

else:
    # If not test_data, load the entire dataset
    df = pd.read_csv(filepath, parse_dates=['event_time'])

# Display the first 100 rows of the DataFrame
print(df.head(100))



df.head(20)

                       event_time event_type  product_id          category_id  \
58139803  2020-04-27 17:58:24 UTC       view    47100023  2053013561747178243
25718946  2020-04-15 07:39:15 UTC       view   100120437  2053013554658804075
62583188  2020-04-29 12:25:47 UTC       view    15700107  2232732094134485388
26043714  2020-04-15 09:56:19 UTC       view     1005109  2232732093077520756
15614699  2020-04-10 12:10:27 UTC       view    19700120  2232732109796016868
...                           ...        ...         ...                  ...
38118434  2020-04-20 04:46:25 UTC       view   100205850  2053013553165631753
4187985   2020-04-03 14:41:05 UTC       view   100078190  2232732089269092627
45111850  2020-04-22 20:29:41 UTC       view     1005122  2232732093077520756
23530284  2020-04-14 07:47:30 UTC       view   100092015  2232732085846540487
13946412  2020-04-09 14:43:09 UTC       view    15100350  2232732107413652135

                         category_code      brand   price    user_id  \
58139803                           NaN  celestron  342.35  530658146
25718946   electronics.audio.headphone       asus  406.70  641733558
62583188                           NaN        NaN  404.39  585218912
26043714      construction.tools.light      apple  924.09  590414375
15614699                 apparel.shirt        NaN    7.20  636529104
...                                ...        ...     ...        ...
38118434                     kids.toys  decathlon   39.64  512862298
4187985                            NaN     centek   12.61  636271289
45111850      construction.tools.light      apple  973.68  624742925
23530284  construction.tools.generator    defacto   12.84  591346604
13946412                apparel.shorts        NaN  401.27  638821832

                                  user_session
58139803  9cd8a072-7bd3-4c1b-ba9e-9e4b089efd74
25718946  43b6d4c2-dd6d-4f3b-b2ce-3f323cb828f5
62583188  d3a81993-7bd4-452b-addf-de1dc8624051
26043714  c6610087-8b75-46ea-93cc-45b79e7bfe19
15614699  e5f6f081-96c4-4b7f-a06c-eb45bd3d6225
...                                        ...
38118434  63b18f0b-1d5a-4fa5-9af3-a49519fdd0c1
4187985   b280d848-38b5-42aa-a288-96b75c3f3f00
45111850  77ca2539-9115-4449-b8d9-79890f25c97c
23530284  8da7cb3d-d957-4f2f-8a3f-cdd789995921
13946412  5e13e9a0-e99b-4956-ae12-5128be52c788

[100 rows x 9 columns]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
58139803,2020-04-27 17:58:24 UTC,view,47100023,2053013561747178243,NaN,celestron,342.35,530658146,9cd8a072-7bd3-4c1b-ba9e-9e4b089efd74
25718946,2020-04-15 07:39:15 UTC,view,100120437,2053013554658804075,electronics.audio.headphone,asus,406.70,641733558,43b6d4c2-dd6d-4f3b-b2ce-3f323cb828f5
62583188,2020-04-29 12:25:47 UTC,view,15700107,2232732094134485388,NaN,NaN,404.39,585218912,d3a81993-7bd4-452b-addf-de1dc8624051
26043714,2020-04-15 09:56:19 UTC,view,1005109,2232732093077520756,construction.tools.light,apple,924.09,590414375,c6610087-8b75-46ea-93cc-45b79e7bfe19
15614699,2020-04-10 12:10:27 UTC,view,19700120,2232732109796016868,apparel.shirt,NaN,7.20,636529104,e5f6f081-96c4-4b7f-a06c-eb45bd3d6225
32620037,2020-04-17 18:04:41 UTC,view,1801991,2232732099754852875,appliances.personal.massager,irbis,100.39,589189727,905c8bb1-b343-4f51-8551-c3c36d237d51
9303934,2020-04-06 19:11:40 UTC,view,3701270,2232732101063475749,appliances.environment.vacuum,hobot,506.83,560577564,7d0f6df7-0fe9-4ae9-beef-d2d4df323ac3
1779103,2020-04-02 05:51:40 UTC,view,1004836,2232732093077520756,construction.tools.light,samsung,199.92,635323889,89b75f49-5024-4383-9280-101227cf2518
52745320,2020-04-25 17:49:33 UTC,view,1004856,2232732093077520756,construction.tools.light,samsung,128.42,635005942,afccb316-3044-4d01-b5ad-66fab43043cc
33266553,2020-04-18 04:41:10 UTC,view,100026412,2053013553098522884,kids.toys,hasbro,9.63,513564347,9019c334-86c2-4498-8be2-cb2737928089
52896302,2020-04-25 18:52:55 UTC,view,16600104,2232732108780995272,sport.trainer,rivertoys,332.05,557925581,b31e4940-76bb-4161-920d-a83687d41939
30717991,2020-04-17 05:37:15 UTC,view,5100898,2232732103101907535,electronics.clocks,apple,601.53,513328222,58b6fd0f-0d08-488e-ac55-b62f3428a30d
27379365,2020-04-15 18:49:15 UTC,view,4100346,2232732098228126185,apparel.shoes,sony,656.13,642056365,722ca637-1af7-4066-bbe3-9eac86c07c90
65970290,2020-04-30 16:55:29 UTC,view,100023495,2232732093077520756,construction.tools.light,lenovo,488.56,635516961,7960cb22-5e2f-4d9f-bdb4-b77a212afa90
27689173,2020-04-16 01:51:40 UTC,view,2501580,2232732092565815652,appliances.kitchen.oven,hotpoint-ariston,437.57,513685353,31194b8a-c610-46a1-a977-56309bad463e
59640388,2020-04-28 10:53:45 UTC,view,2702277,2232732091718566220,appliances.kitchen.refrigerators,lg,437.31,570676752,984bc625-d95f-4e2f-acc2-23d3d035e769
63690230,2020-04-29 20:04:41 UTC,view,100013980,2232732093077520756,construction.tools.light,xiaomi,214.43,598893294,0b6599e4-8b20-470e-bf60-455f8b13a281
41327871,2020-04-21 10:51:57 UTC,view,3100491,2232732091391410500,appliances.kitchen.blender,polaris,39.87,520214037,7f98ffa7-9839-4a3e-b656-81f9e039338c
59526697,2020-04-28 10:07:29 UTC,view,10900222,2232732105912091273,appliances.kitchen.mixer,moulinex,47.59,611389411,2932b89c-76c5-4602-9072-f0e021b618c1
40466500,2020-04-21 04:15:52 UTC,view,1801831,2232732099754852875,appliances.personal.massager,shivaki,208.76,644740917,11ab957f-bea1-436a-8783-c8e3dfe43298

## Add columns based on dataset col

#### Data granularity

##### Split category_code column

In [18]:

# Create new columns based on the column category_based
df['category_code_lvl_1'] = df['category_code'].str.split(".").str[0] #Obter o 1º nivel do category code e criar nova coluna
df['category_code_lvl_2'] = df['category_code'].str.split(".").str[1] #Obter o 2º nivel do category code e criar nova coluna
df['category_code_lvl_3'] = df['category_code'].str.split(".").str[2] #Obter o 3º nivel do category code e criar nova coluna

#create column target based on the event_type column
#when event_type=purchase => purchase
#     event_type != purchase => not_purchase 

df['conversion'] = 'not_purchase'  # Definindo valor padrão
df.loc[df['event_type']=='purchase', 'conversion'] = 'purchase'

df.head(20)

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,category_code_lvl_1,category_code_lvl_2,category_code_lvl_3,conversion
58139803,2020-04-27 17:58:24 UTC,view,47100023,2053013561747178243,NaN,celestron,342.35,530658146,9cd8a072-7bd3-4c1b-ba9e-9e4b089efd74,NaN,NaN,NaN,not_purchase
25718946,2020-04-15 07:39:15 UTC,view,100120437,2053013554658804075,electronics.audio.headphone,asus,406.70,641733558,43b6d4c2-dd6d-4f3b-b2ce-3f323cb828f5,electronics,audio,headphone,not_purchase
62583188,2020-04-29 12:25:47 UTC,view,15700107,2232732094134485388,NaN,NaN,404.39,585218912,d3a81993-7bd4-452b-addf-de1dc8624051,NaN,NaN,NaN,not_purchase
26043714,2020-04-15 09:56:19 UTC,view,1005109,2232732093077520756,construction.tools.light,apple,924.09,590414375,c6610087-8b75-46ea-93cc-45b79e7bfe19,construction,tools,light,not_purchase
15614699,2020-04-10 12:10:27 UTC,view,19700120,2232732109796016868,apparel.shirt,NaN,7.20,636529104,e5f6f081-96c4-4b7f-a06c-eb45bd3d6225,apparel,shirt,NaN,not_purchase
32620037,2020-04-17 18:04:41 UTC,view,1801991,2232732099754852875,appliances.personal.massager,irbis,100.39,589189727,905c8bb1-b343-4f51-8551-c3c36d237d51,appliances,personal,massager,not_purchase
9303934,2020-04-06 19:11:40 UTC,view,3701270,2232732101063475749,appliances.environment.vacuum,hobot,506.83,560577564,7d0f6df7-0fe9-4ae9-beef-d2d4df323ac3,appliances,environment,vacuum,not_purchase
1779103,2020-04-02 05:51:40 UTC,view,1004836,2232732093077520756,construction.tools.light,samsung,199.92,635323889,89b75f49-5024-4383-9280-101227cf2518,construction,tools,light,not_purchase
52745320,2020-04-25 17:49:33 UTC,view,1004856,2232732093077520756,construction.tools.light,samsung,128.42,635005942,afccb316-3044-4d01-b5ad-66fab43043cc,construction,tools,light,not_purchase
33266553,2020-04-18 04:41:10 UTC,view,100026412,2053013553098522884,kids.toys,hasbro,9.63,513564347,9019c334-86c2-4498-8be2-cb2737928089,kids,toys,NaN,not_purchase
52896302,2020-04-25 18:52:55 UTC,view,16600104,2232732108780995272,sport.trainer,rivertoys,332.05,557925581,b31e4940-76bb-4161-920d-a83687d41939,sport,trainer,NaN,not_purchase
30717991,2020-04-17 05:37:15 UTC,view,5100898,2232732103101907535,electronics.clocks,apple,601.53,513328222,58b6fd0f-0d08-488e-ac55-b62f3428a30d,electronics,clocks,NaN,not_purchase
27379365,2020-04-15 18:49:15 UTC,view,4100346,2232732098228126185,apparel.shoes,sony,656.13,642056365,722ca637-1af7-4066-bbe3-9eac86c07c90,apparel,shoes,NaN,not_purchase
65970290,2020-04-30 16:55:29 UTC,view,100023495,2232732093077520756,construction.tools.light,lenovo,488.56,635516961,7960cb22-5e2f-4d9f-bdb4-b77a212afa90,construction,tools,light,not_purchase
27689173,2020-04-16 01:51:40 UTC,view,2501580,2232732092565815652,appliances.kitchen.oven,hotpoint-ariston,437.57,513685353,31194b8a-c610-46a1-a977-56309bad463e,appliances,kitchen,oven,not_purchase
59640388,2020-04-28 10:53:45 UTC,view,2702277,2232732091718566220,appliances.kitchen.refrigerators,lg,437.31,570676752,984bc625-d95f-4e2f-acc2-23d3d035e769,appliances,kitchen,refrigerators,not_purchase
63690230,2020-04-29 20:04:41 UTC,view,100013980,2232732093077520756,construction.tools.light,xiaomi,214.43,598893294,0b6599e4-8b20-470e-bf60-455f8b13a281,construction,tools,light,not_purchase
41327871,2020-04-21 10:51:57 UTC,view,3100491,2232732091391410500,appliances.kitchen.blender,polaris,39.87,520214037,7f98ffa7-9839-4a3e-b656-81f9e039338c,appliances,kitchen,blender,not_purchase
59526697,2020-04-28 10:07:29 UTC,view,10900222,2232732105912091273,appliances.kitchen.mixer,moulinex,47.59,611389411,2932b89c-76c5-4602-9072-f0e021b618c1,appliances,kitchen,mixer,not_purchase
40466500,2020-04-21 04:15:52 UTC,view,1801831,2232732099754852875,appliances.personal.massager,shivaki,208.76,644740917,11ab957f-bea1-436a-8783-c8e3dfe43298,appliances,personal,massager,not_purchase

##### Split event_time column

In [19]:
# Split the event_time column to have more information and detail on the:
# - day_of_month
# - day_ok_week 
# - is_weekend
# - moment_of_day
# -hour
# - min
#As the dataset only as data from s sepecific month of 2020, we don't need to get the year, quarter and month.
#These attribute may influence the purchase of the users


# Converter a coluna 'event_time' para datetime
df['event_time'] = pd.to_datetime(df['event_time'], utc=True)

# Create new columns based on date column 'event_time'

df['week_of_month'] = df['event_time'].apply(lambda x: (x.day - 1) // 7 + 1)
df['is_weekend'] = df['event_time'].dt.weekday.apply(lambda x: "weekend" if x >= 5 else "weekday") 

df['day_of_week'] = df['event_time'].dt.day_name()# Monday=0, Sunday=6
df['day'] = df['event_time'].dt.day
df['hour'] = df['event_time'].dt.hour
df['min'] = df['event_time'].dt.minute

#create function to get time of the day
def get_time_of_day(hour):
    if 6<= hour <12:
        return "morning"
    elif 12<= hour <=18:
        return "afternoon"
    else:
        return "night"

df['time_of_day']= df['hour'].apply(get_time_of_day)
    
df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session,category_code_lvl_1,category_code_lvl_2,category_code_lvl_3,conversion,week_of_month,is_weekend,day_of_week,day,hour,min,time_of_day
58139803,2020-04-27 17:58:24+00:00,view,47100023,2053013561747178243,NaN,celestron,342.35,530658146,9cd8a072-7bd3-4c1b-ba9e-9e4b089efd74,NaN,NaN,NaN,not_purchase,4,weekday,Monday,27,17,58,afternoon
25718946,2020-04-15 07:39:15+00:00,view,100120437,2053013554658804075,electronics.audio.headphone,asus,406.70,641733558,43b6d4c2-dd6d-4f3b-b2ce-3f323cb828f5,electronics,audio,headphone,not_purchase,3,weekday,Wednesday,15,7,39,morning
62583188,2020-04-29 12:25:47+00:00,view,15700107,2232732094134485388,NaN,NaN,404.39,585218912,d3a81993-7bd4-452b-addf-de1dc8624051,NaN,NaN,NaN,not_purchase,5,weekday,Wednesday,29,12,25,afternoon
26043714,2020-04-15 09:56:19+00:00,view,1005109,2232732093077520756,construction.tools.light,apple,924.09,590414375,c6610087-8b75-46ea-93cc-45b79e7bfe19,construction,tools,light,not_purchase,3,weekday,Wednesday,15,9,56,morning
15614699,2020-04-10 12:10:27+00:00,view,19700120,2232732109796016868,apparel.shirt,NaN,7.20,636529104,e5f6f081-96c4-4b7f-a06c-eb45bd3d6225,apparel,shirt,NaN,not_purchase,2,weekday,Friday,10,12,10,afternoon

In [10]:
df.dtypes

event_time             datetime64[ns, UTC]
event_type                          object
product_id                           int64
category_id                          int64
category_code                       object
brand                               object
price                              float64
user_id                              int64
user_session                        object
category_code_lvl_1                 object
category_code_lvl_2                 object
category_code_lvl_3                 object
conversion                          object
day_of_week                         object
week_of_month                        int64
is_weekend                          object
day                                  int32
hour                                 int32
min                                  int32
time_of_day                         object
dtype: object

## Remove columns with ids

In [20]:
#drop id columns that are not relevant for the prediction of the class

df = df.drop(columns=['product_id', 'category_id', 'category_code','user_session','user_id'])

df.head(20)

,event_time,event_type,brand,price,category_code_lvl_1,category_code_lvl_2,category_code_lvl_3,conversion,week_of_month,is_weekend,day_of_week,day,hour,min,time_of_day
58139803,2020-04-27 17:58:24+00:00,view,celestron,342.35,NaN,NaN,NaN,not_purchase,4,weekday,Monday,27,17,58,afternoon
25718946,2020-04-15 07:39:15+00:00,view,asus,406.70,electronics,audio,headphone,not_purchase,3,weekday,Wednesday,15,7,39,morning
62583188,2020-04-29 12:25:47+00:00,view,NaN,404.39,NaN,NaN,NaN,not_purchase,5,weekday,Wednesday,29,12,25,afternoon
26043714,2020-04-15 09:56:19+00:00,view,apple,924.09,construction,tools,light,not_purchase,3,weekday,Wednesday,15,9,56,morning
15614699,2020-04-10 12:10:27+00:00,view,NaN,7.20,apparel,shirt,NaN,not_purchase,2,weekday,Friday,10,12,10,afternoon
32620037,2020-04-17 18:04:41+00:00,view,irbis,100.39,appliances,personal,massager,not_purchase,3,weekday,Friday,17,18,4,afternoon
9303934,2020-04-06 19:11:40+00:00,view,hobot,506.83,appliances,environment,vacuum,not_purchase,1,weekday,Monday,6,19,11,night
1779103,2020-04-02 05:51:40+00:00,view,samsung,199.92,construction,tools,light,not_purchase,1,weekday,Thursday,2,5,51,night
52745320,2020-04-25 17:49:33+00:00,view,samsung,128.42,construction,tools,light,not_purchase,4,weekend,Saturday,25,17,49,afternoon
33266553,2020-04-18 04:41:10+00:00,view,hasbro,9.63,kids,toys,NaN,not_purchase,3,weekend,Saturday,18,4,41,night
52896302,2020-04-25 18:52:55+00:00,view,rivertoys,332.05,sport,trainer,NaN,not_purchase,4,weekend,Saturday,25,18,52,afternoon
30717991,2020-04-17 05:37:15+00:00,view,apple,601.53,electronics,clocks,NaN,not_purchase,3,weekday,Friday,17,5,37,night
27379365,2020-04-15 18:49:15+00:00,view,sony,656.13,apparel,shoes,NaN,not_purchase,3,weekday,Wednesday,15,18,49,afternoon
65970290,2020-04-30 16:55:29+00:00,view,lenovo,488.56,construction,tools,light,not_purchase,5,weekday,Thursday,30,16,55,afternoon
27689173,2020-04-16 01:51:40+00:00,view,hotpoint-ariston,437.57,appliances,kitchen,oven,not_purchase,3,weekday,Thursday,16,1,51,night
59640388,2020-04-28 10:53:45+00:00,view,lg,437.31,appliances,kitchen,refrigerators,not_purchase,4,weekday,Tuesday,28,10,53,morning
63690230,2020-04-29 20:04:41+00:00,view,xiaomi,214.43,construction,tools,light,not_purchase,5,weekday,Wednesday,29,20,4,night
41327871,2020-04-21 10:51:57+00:00,view,polaris,39.87,appliances,kitchen,blender,not_purchase,3,weekday,Tuesday,21,10,51,morning
59526697,2020-04-28 10:07:29+00:00,view,moulinex,47.59,appliances,kitchen,mixer,not_purchase,4,weekday,Tuesday,28,10,7,morning
40466500,2020-04-21 04:15:52+00:00,view,shivaki,208.76,appliances,personal,massager,not_purchase,3,weekday,Tuesday,21,4,15,night

# Save df from preprocessing into a csv file

In [21]:
# Definir o caminho para salvar o arquivo CSV
filepath = r'dataset/df_ecom_pre_proc.csv'

# Salvar o DataFrame em CSV
df.to_csv(filepath, index=False)