In [2]:
import pandas as pd

# https://www.kaggle.com/datasets/mkechinov/ecommerce-behavior-data-from-multi-category-store

compressed_link=r'https://data.rees46.com/datasets/marketplace/2020-Apr.csv.gz'
filepath=r'2020-Apr.csv'

# Load and preview

In [3]:
df=pd.read_csv(filepath)

df.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2020-04-01 00:00:00 UTC,view,1201465,2232732101407408685,apparel.shoes.slipons,samsung,230.38,568984877,e2456cef-2d4f-42b9-a53a-8893cb0c6851
1,2020-04-01 00:00:01 UTC,view,1307156,2053013554658804075,electronics.audio.headphone,apple,1352.67,514955500,38f43134-de83-4710-ae0a-326677d292c6
2,2020-04-01 00:00:01 UTC,view,1480477,2053013563835941749,appliances.kitchen.refrigerators,apple,1184.05,633645770,16aba270-b3c2-4b23-be0a-b7c80bc9da9e
3,2020-04-01 00:00:02 UTC,view,1307050,2053013554658804075,electronics.audio.headphone,apple,1724.34,564933778,05b443bd-e68a-4d72-b971-80bd31109cb8
4,2020-04-01 00:00:03 UTC,view,9500109,2232732104175649385,apparel.scarf,defender,25.05,530206135,e3c1fb4b-0a7e-457d-a0cf-5d1479e9aafc
...,...,...,...,...,...,...,...,...,...
66589263,2020-04-30 23:59:59 UTC,view,1003319,2232732093077520756,construction.tools.light,apple,900.90,648021639,b30b4657-011a-42bb-a57b-300b0030ef50
66589264,2020-04-30 23:59:59 UTC,view,1005141,2232732093077520756,construction.tools.light,apple,1599.78,649775363,a1f49d5b-714f-4e38-b66a-d1679d4d2a1c
66589265,2020-04-30 23:59:59 UTC,view,100205454,2232732085041234105,apparel.shirt,defacto,12.84,639250275,8b9ae17d-c0c1-4bad-aa20-9b541c8be405
66589266,2020-04-30 23:59:59 UTC,view,12200824,2053013553325015316,appliances.kitchen.toster,cube,1956.03,522762529,d272f36d-f20b-4540-ac35-9b779acc4dd7
66589267,2020-04-30 23:59:59 UTC,view,1004342,2232732093077520756,construction.tools.light,meizu,228.83,530264277,1fb383a0-01f9-4219-93e7-836e70e3bce1

In [4]:
print(f"Data types: {df.dtypes}")  # Show the data types for each column

Dataframe Shape: (66589268, 9)
Data types: event_time        object
event_type        object
product_id         int64
category_id        int64
category_code     object
brand             object
price            float64
user_id            int64
user_session      object
dtype: object

In [9]:
print(df['user_id'].nunique())

print(df['user_session'].nunique())

4509623
11652261

In [5]:
print(df['event_type'].value_counts())

event_type
view        62353909
cart         3268600
purchase      966759
Name: count, dtype: int64

In [13]:
print(df['category_code'].value_counts())

category_code
construction.tools.light            14325436
electronics.audio.headphone          3204467
appliances.personal.massager         2529495
appliances.kitchen.refrigerators     2304830
sport.bicycle                        2185567
                                      ...
stationery.paper                         156
country_yard.watering                    129
apparel.belt                             127
computers.components.sound_card           39
apparel.hat                                5
Name: count, Length: 141, dtype: int64

In [11]:
print(df['brand'].value_counts())

brand
samsung     8001862
apple       3868150
xiaomi      3258618
huawei      1458298
defacto     1002111
             ...
olmeko            1
carlsbro          1
andrea            1
reluse            1
cavanova          1
Name: count, Length: 4885, dtype: int64

# To analyze further

- analyze revenue of products to understand business contribute. is a cheaper product better than a pricier one? depends on transaction volume vs average revenue per user