# File and libraries

In [1]:
import pandas as pd
import numpy as np


filepath=r'google_merch_store_raw_merge_america.csv'



file_tag = "ga4_merch_store"

# DSLabs functions

In [2]:
%run "dslabs_functions.py"

# data functions

In [3]:
%run "data_functions.py"

data_functions lodaded

In [4]:
# data=pd.read_csv(r'google_merch_store_raw_merge.csv')

# data=data[data['geo_sub_continent']=='Northern America']

# data.to_csv('google_merch_store_raw_merge_america.csv',index=False)

# data.to_csv('google_merch_store_raw_merge_america_compressed.csv',index=False, compression='gzip')

# Load and sampling

In [5]:
# test_data=True
test_data=False


# Define a function to sample 10% from each group
def sample_per_day(group, fraction=0.1):
    return group.sample(frac=fraction)


if test_data==True:

    data=pd.read_csv(filepath)
    

    data['event_timestamp'] = pd.to_datetime(data['event_timestamp'], unit='us', utc=True)
    data['event_date'] = pd.to_datetime(data['event_date'], infer_datetime_format=True)
 

    # Apply the sampling to each group (grouped by event_date) 1%
    data = data.groupby('event_date').apply(lambda x: sample_per_day(x, 0.01)).reset_index(drop=True)

   

else:
    data=pd.read_csv(filepath)
    

    data['event_timestamp'] = pd.to_datetime(data['event_timestamp'], unit='us', utc=True)
    data['event_date'] = pd.to_datetime(data['event_date'], infer_datetime_format=True)

    # 10% sample
    data = data.groupby('event_date').apply(lambda x: sample_per_day(x, 0.1)).reset_index(drop=True)
    

    

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 405866 entries, 0 to 405865
Data columns (total 48 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   event_date                       405866 non-null  datetime64[ns]
 1   session_id                       405866 non-null  int64
 2   user_pseudo_id                   405866 non-null  float64
 3   event_name                       405866 non-null  object
 4   event_timestamp                  405866 non-null  datetime64[ns, UTC]
 5   page_location                    405866 non-null  object
 6   page_title                       404731 non-null  object
 7   device_category                  405866 non-null  object
 8   device_mobile_brand_name         405866 non-null  object
 9   device_mobile_model_name         405866 non-null  object
 10  device_mobile_marketing_name     405866 non-null  object
 11  device_operating_system          405866 non-null  object
 12  device_operating_system_version  405866 non-null  object
 13  device_language                  223013 non-null  object
 14  device_is_limited_ad_tracking    405866 non-null  object
 15  device_web_info_browser          405866 non-null  object
 16  device_web_info_browser_version  405866 non-null  object
 17  geo_continent                    405866 non-null  object
 18  geo_country                      405866 non-null  object
 19  geo_region                       405866 non-null  object
 20  geo_city                         405866 non-null  object
 21  geo_sub_continent                405866 non-null  object
 22  geo_metro                        405866 non-null  object
 23  traffic_source_name              405866 non-null  object
 24  traffic_source_medium            405866 non-null  object
 25  traffic_source_source            405866 non-null  object
 26  page_referrer                    141453 non-null  object
 27  entrances                        17171 non-null   float64
 28  debug_mode                       374404 non-null  float64
 29  ga_session_number                405866 non-null  int64
 30  session_engaged                  374417 non-null  float64
 31  engagement_time_msec             308040 non-null  float64
 32  ecommerce_total_item_quantity    39831 non-null   float64
 33  ecommerce_purchase_revenue       842 non-null     float64
 34  ecommerce_shipping_value         0 non-null       float64
 35  ecommerce_tax_value              842 non-null     float64
 36  ecommerce_unique_items           208668 non-null  float64
 37  ecommerce_transaction_id         219652 non-null  object
 38  item_id                          208668 non-null  object
 39  item_name                        208668 non-null  object
 40  item_brand                       208530 non-null  object
 41  item_variant                     207373 non-null  object
 42  item_category                    207825 non-null  object
 43  price                            201168 non-null  float64
 44  quantity                         8040 non-null    float64
 45  item_revenue                     208668 non-null  float64
 46  item_list_index                  203360 non-null  float64
 47  promotion_name                   207817 non-null  object
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(14), int64(2), object(30)
memory usage: 148.6+ MB

In [6]:
data.shape

(405866, 48)

# class target column creation


- we want to classify if that hit is from a returning or new user.
- Due to web analytics tracking particularities like cookie acceptance we prefer to consider returning users as users that are on their 3rd or larger session number
- In this case, new user (ga_session_number <=2) will be 0 and returning user will be more than 2 (ga_session_number > 2)
- session number column shall be removed afterwards as well

In [7]:

data['returning_user'] = data['ga_session_number'].apply(lambda x: 0 if x <= 2 else 1)


data=data.drop(['ga_session_number'],axis=1) # now we do not need it anymore. remove it

In [8]:
target = "returning_user"

values = data[target].value_counts(normalize=True) 
print(values)

returning_user
0    0.754609
1    0.245391
Name: proportion, dtype: float64

# unbalance dataset

let us umbalance to have 10% as returning users

In [9]:
# Separate the majority (0) and minority (1) classes
df_majority = data[data['returning_user'] == 0]
df_minority = data[data['returning_user'] == 1]

# Calculate the number of minority rows needed to make a 90/10 split
# Let total_rows be the total number of rows after undersampling
total_rows = len(df_majority) / 0.9  # 90% majority, 10% minority
desired_minority_count = int(total_rows * 0.1)  # 10% of the total should be minority

# Downsample the minority class to the desired number of rows
df_minority_downsampled = df_minority.sample(n=desired_minority_count, random_state=42)

# Combine the majority class with the downsampled minority class
df_imbalanced = pd.concat([df_majority, df_minority_downsampled])

# Shuffle the combined dataset
data = df_imbalanced.sample(frac=1, random_state=42).reset_index(drop=True)

# Check the new class distribution to verify the 90/10 split
print(data['returning_user'].value_counts(normalize=True) * 100)

returning_user
0    90.0
1    10.0
Name: proportion, dtype: float64

# column drop

### low value or high null count columns

In [10]:
data=data.drop(['debug_mode','device_is_limited_ad_tracking','device_mobile_marketing_name','geo_metro','traffic_source_name','page_referrer','entrances'],axis=1)

### ecommerce specific columns

In [11]:
data=data.drop([
 'ecommerce_total_item_quantity', 
 'ecommerce_purchase_revenue',            
 'ecommerce_shipping_value',              
 'ecommerce_tax_value',                   
 'ecommerce_unique_items',               
 'ecommerce_transaction_id',              
 'item_id',                               
 'item_name',                             
 'item_brand',                            
 'item_variant',                          
 'item_category',                         
 'price',                                 
 'quantity',                              
 'item_revenue',                          
 'item_list_index',                       
 'promotion_name',
 'geo_continent',
 'geo_sub_continent'],axis=1)

In [12]:
summary5 = data.describe(include="all")

summary5

,event_date,session_id,user_pseudo_id,event_name,event_timestamp,page_location,page_title,device_category,device_mobile_brand_name,device_mobile_model_name,...,device_web_info_browser,device_web_info_browser_version,geo_country,geo_region,geo_city,traffic_source_medium,traffic_source_source,session_engaged,engagement_time_msec,returning_user
count,340300,3.403000e+05,3.403000e+05,340300,340300,340300,339263,340300,340300,340300,...,340300,340300,340300,340300,340300,340300,340300,310661.000000,2.536340e+05,340300.0
unique,NaN,NaN,NaN,17,NaN,1052,476,3,8,10,...,6,13,2,62,325,6,5,NaN,NaN,NaN
top,NaN,NaN,NaN,view_item,NaN,https://shop.googlemerchandisestore.com/,Home,desktop,Apple,Chrome,...,Chrome,87.0,United States,California,(not set),organic,google,NaN,NaN,NaN
freq,NaN,NaN,NaN,122785,NaN,31313,55148,197839,144367,94232,...,231863,126080,290979,61557,146241,118652,123617,NaN,NaN,NaN
mean,2020-12-14 06:13:06.816338176,5.005086e+09,2.647470e+08,NaN,2020-12-14 18:14:04.183294720+00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.906818,1.211985e+04,0.1
min,2020-11-01 00:00:00,1.762600e+04,1.001129e+06,NaN,2020-11-01 00:00:27.483279+00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,1.000000e+00,0.0
25%,2020-11-26 00:00:00,2.532873e+09,5.811879e+06,NaN,2020-11-26 05:52:09.527246336+00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.670000e+03,0.0
50%,2020-12-11 00:00:00,5.001674e+09,2.243873e+07,NaN,2020-12-11 14:16:38.647480576+00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,5.515000e+03,0.0
75%,2021-01-04 00:00:00,7.521819e+09,6.124175e+07,NaN,2021-01-04 21:56:10.632059392+00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.268500e+04,0.0
max,2021-01-31 00:00:00,9.999964e+09,9.985207e+09,NaN,2021-01-31 23:59:54.824131+00:00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.790020e+06,1.0
std,NaN,2.881304e+09,1.190930e+09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.290688,2.879907e+04,0.3

# drop specific event_names

We want to classify a user by its interactions with the website so we want to exclude some actions that may also be biased by incorrect ga4 tracking namely:
- session_start
- first_visit
- click (low event count)
- view_item_list (may not be triggered by user interaction)

In [13]:
data['event_name'].value_counts()

event_name
view_item              122785
page_view               61349
user_engagement         47555
add_to_cart             28162
scroll                  21767
session_start           16582
select_item             13591
first_visit             13048
view_promotion           8549
begin_checkout           3336
view_search_results      1217
add_shipping_info         779
purchase                  579
add_payment_info          498
select_promotion          441
click                      51
view_item_list             11
Name: count, dtype: int64

In [14]:
# List of values to drop
events_to_drop = ['session_start', 'first_visit','click','view_item_list']

# drop events from list
data = data[~data['event_name'].isin(events_to_drop)]


data['event_name'].value_counts()

event_name
view_item              122785
page_view               61349
user_engagement         47555
add_to_cart             28162
scroll                  21767
select_item             13591
view_promotion           8549
begin_checkout           3336
view_search_results      1217
add_shipping_info         779
purchase                  579
add_payment_info          498
select_promotion          441
Name: count, dtype: int64

# replace (not set) with null

we will handle these later but these are actually null values

In [15]:
data.replace('(not set)', np.nan, inplace=True)

# Engagement time msec
- https://support.google.com/analytics/answer/11109416?hl=en
- is it null?

In [16]:
data['engagement_time_msec'] = data['engagement_time_msec'].fillna(0)

# geo columns

## geo_region and geo_city

In [17]:
null_region_cities_df=data.groupby(['geo_region']).agg(
    null_count=('geo_city', lambda x: x.isna().sum())
).sort_values('null_count',ascending=False).reset_index()

# will retrieve the most populated cities of these regions to use as fill method
region_cities_with_nulls = null_region_cities_df[null_region_cities_df['null_count'] > 0]['geo_region'].tolist()


region_cities_with_nulls

['California',
 'Florida',
 'Texas',
 'New Jersey',
 'New York',
 'Pennsylvania',
 'Ohio',
 'Michigan',
 'Ontario',
 'Georgia',
 'Illinois',
 'Massachusetts',
 'North Carolina',
 'Virginia',
 'Quebec',
 'Maryland',
 'Connecticut',
 'Missouri',
 'Indiana',
 'Wisconsin',
 'Washington',
 'Colorado',
 'South Carolina',
 'Minnesota',
 'British Columbia',
 'Utah',
 'Tennessee',
 'Alberta',
 'Alabama',
 'Louisiana',
 'Oregon',
 'Kentucky',
 'Iowa',
 'Mississippi',
 'Arizona',
 'Arkansas',
 'Oklahoma',
 'Kansas',
 'Delaware',
 'West Virginia',
 'New Hampshire',
 'Idaho',
 'Manitoba',
 'Maine',
 'North Dakota',
 'Montana',
 'Saskatchewan',
 'Rhode Island',
 'New Mexico',
 'Nova Scotia',
 'New Brunswick',
 'Alaska',
 'Nebraska',
 'Vermont',
 'Prince Edward Island',
 'Nevada',
 'Hawaii',
 'Newfoundland and Labrador',
 'Wyoming',
 'South Dakota']

In [18]:
most_populated_cities = {
    'California': 'Los Angeles',
    'Florida': 'Jacksonville',
    'Texas': 'Houston',
    'New Jersey': 'Newark',
    'New York': 'New York City',
    'Pennsylvania': 'Philadelphia',
    'Michigan': 'Detroit',
    'Ohio': 'Columbus',
    'Illinois': 'Chicago',
    'Georgia': 'Atlanta',
    'Massachusetts': 'Boston',
    'North Carolina': 'Charlotte',
    'Virginia': 'Virginia Beach',
    'Maryland': 'Baltimore',
    'Connecticut': 'Bridgeport',
    'Indiana': 'Indianapolis',
    'Wisconsin': 'Milwaukee',
    'Missouri': 'Kansas City',
    'Washington': 'Seattle',
    'Colorado': 'Denver',
    'Minnesota': 'Minneapolis',
    'South Carolina': 'Charleston',
    'Utah': 'Salt Lake City',
    'Tennessee': 'Nashville',
    'Alabama': 'Birmingham',
    'Louisiana': 'New Orleans',
    'Oregon': 'Portland',
    'Kentucky': 'Louisville',
    'Mississippi': 'Jackson',
    'Iowa': 'Des Moines',
    'Arkansas': 'Little Rock',
    'Arizona': 'Phoenix',
    'Oklahoma': 'Oklahoma City',
    'Kansas': 'Wichita',
    'Delaware': 'Wilmington',
    'West Virginia': 'Charleston',
    'New Hampshire': 'Manchester',
    'Idaho': 'Boise',
    'Montana': 'Billings',
    'Maine': 'Portland',
    'New Mexico': 'Albuquerque',
    'North Dakota': 'Fargo',
    'Rhode Island': 'Providence',
    'Nebraska': 'Omaha',
    'Alaska': 'Anchorage',
    'Vermont': 'Burlington',
    'Hawaii': 'Honolulu',
    'Nevada': 'Las Vegas',
    'Wyoming': 'Cheyenne',
    'South Dakota': 'Sioux Falls'
}

data['geo_city'] = data['geo_city'].fillna(data['geo_region'].map(most_populated_cities))

# event timestamp treatment

- need to convert to local time from different us timezones

## timezone from regions and create local_event_timestamp

In [19]:
geo_region_list = data['geo_region'].tolist()
distinct_geo_regions = list(set(geo_region_list))

print(distinct_geo_regions)

['Ohio', 'Arkansas', 'Iowa', 'Nevada', 'New Hampshire', 'Wisconsin', 'North Carolina', 'Nebraska', 'South Carolina', 'Quebec', 'New Brunswick', 'Alabama', 'Minnesota', 'Arizona', 'Alberta', 'Maryland', 'Wyoming', 'Illinois', 'California', 'Florida', 'Ontario', 'North Dakota', 'British Columbia', 'Texas', 'Missouri', 'Kentucky', 'Michigan', 'Indiana', 'Nova Scotia', 'Montana', nan, 'Utah', 'Vermont', 'Louisiana', 'District of Columbia', 'Alaska', 'Delaware', 'Massachusetts', 'Saskatchewan', 'Kansas', 'Hawaii', 'Idaho', 'Georgia', 'Oregon', 'New Jersey', 'Washington', 'Newfoundland and Labrador', 'Prince Edward Island', 'New York', 'Tennessee', 'Virginia', 'Pennsylvania', 'Connecticut', 'Colorado', 'Rhode Island', 'Maine', 'West Virginia', 'South Dakota', 'Mississippi', 'Manitoba', 'New Mexico', 'Oklahoma']

## mappings

In [20]:
import pytz


city_timezone_mapping = {
    'Kingston': 'America/Toronto',  # Canada (Eastern Time)
    'Calgary': 'America/Edmonton',  # Canada (Mountain Time)
    'Bethesda': 'America/New_York',  # USA (Eastern Time)
    'Nashville': 'America/Chicago',  # USA (Central Time)
    'Saint Paul': 'America/Chicago',  # USA (Central Time)
    'Berkeley': 'America/Los_Angeles',  # USA (Pacific Time)
    'Little Rock': 'America/Chicago',  # USA (Central Time)
    'Sunnyvale': 'America/Los_Angeles',  # USA (Pacific Time)
    'Salinas': 'America/Los_Angeles',  # USA (Pacific Time)
    'Ann Arbor': 'America/Detroit',  # USA (Eastern Time)
    'Auburn': 'America/New_York',  # USA (Eastern Time)
    'Germantown': 'America/Chicago',  # USA (Central Time)
    'Fairfield': 'America/New_York',  # USA (Eastern Time)
    'Charlotte': 'America/New_York',  # USA (Eastern Time)
    'Guelph': 'America/Toronto',  # Canada (Eastern Time)
    'Vancouver': 'America/Vancouver',  # Canada (Pacific Time)
    'Stamford': 'America/New_York',  # USA (Eastern Time)
    'Pleasanton': 'America/Los_Angeles',  # USA (Pacific Time)
    'Cambridge': 'America/New_York',  # USA (Eastern Time)
    'Paramus': 'America/New_York',  # USA (Eastern Time)
    'Jacksonville': 'America/New_York',  # USA (Eastern Time)
    'Livermore': 'America/Los_Angeles',  # USA (Pacific Time)
    'Eau Claire': 'America/Chicago',  # USA (Central Time)
    'Sacramento': 'America/Los_Angeles',  # USA (Pacific Time)
    'Los Altos': 'America/Los_Angeles',  # USA (Pacific Time)
    'Dartmouth': 'America/Halifax',  # Canada (Atlantic Time)
    'Everett': 'America/Los_Angeles',  # USA (Pacific Time)
    'Modesto': 'America/Los_Angeles',  # USA (Pacific Time)
    'Saint John': 'America/Halifax',  # Canada (Atlantic Time)
    'Lethbridge': 'America/Edmonton',  # Canada (Mountain Time)
    'Kansas City': 'America/Chicago',  # USA (Central Time)
    'Madison': 'America/Chicago',  # USA (Central Time)
    'Evanston': 'America/Chicago',  # USA (Central Time)
    'Fontana': 'America/Los_Angeles',  # USA (Pacific Time)
    'Hayward': 'America/Los_Angeles',  # USA (Pacific Time)
    'Franklin': 'America/Chicago',  # USA (Central Time)
    'Somerville': 'America/New_York',  # USA (Eastern Time)
    'Chantilly': 'America/New_York',  # USA (Eastern Time)
    'Halifax': 'America/Halifax',  # Canada (Atlantic Time)
    'Laredo': 'America/Chicago',  # USA (Central Time)
    'Windsor': 'America/Toronto',  # Canada (Eastern Time)
    'Richardson': 'America/Chicago',  # USA (Central Time)
    'Oshawa': 'America/Toronto',  # Canada (Eastern Time)
    'Denver': 'America/Denver',  # USA (Mountain Time)
    'Cherry Hill': 'America/New_York',  # USA (Eastern Time)
    'Fredericton': 'America/Moncton',  # Canada (Atlantic Time)
    'Houston': 'America/Chicago',  # USA (Central Time)
    'Regina': 'America/Regina',  # Canada (Central Time)
    'Buffalo': 'America/New_York',  # USA (Eastern Time)
    'Coffeyville': 'America/Chicago',  # USA (Central Time)
    'Sugar Land': 'America/Chicago',  # USA (Central Time)
    'Johns Creek': 'America/New_York',  # USA (Eastern Time)
    'Winston-Salem': 'America/New_York',  # USA (Eastern Time)
    'Fargo': 'America/Chicago',  # USA (Central Time)
    'Granby': 'America/Toronto',  # Canada (Eastern Time)
    'New Orleans': 'America/Chicago',  # USA (Central Time)
    'Hartford': 'America/New_York',  # USA (Eastern Time)
    'Bridgeport': 'America/New_York',  # USA (Eastern Time)
    'Reno': 'America/Los_Angeles',  # USA (Pacific Time)
    'Raleigh': 'America/New_York',  # USA (Eastern Time)
    'Miami': 'America/New_York',  # USA (Eastern Time)
    'Chicago': 'America/Chicago',  # USA (Central Time)
    'San Francisco': 'America/Los_Angeles',  # USA (Pacific Time)
    'Los Angeles': 'America/Los_Angeles',  # USA (Pacific Time)
    'Philadelphia': 'America/New_York',  # USA (Eastern Time)
    'Anchorage': 'America/Anchorage',  # USA (Alaska Time)
    'Minneapolis': 'America/Chicago',  # USA (Central Time)
    'New York': 'America/New_York',  # USA (Eastern Time)
    'Boston': 'America/New_York',  # USA (Eastern Time)
    'Dallas': 'America/Chicago',  # USA (Central Time)
    'Boulder': 'America/Denver',  # USA (Mountain Time)
    'Seattle': 'America/Los_Angeles',  # USA (Pacific Time)
    'Montgomery': 'America/Chicago',  # USA (Central Time)
    'Phoenix': 'America/Phoenix',  # USA (Mountain Standard Time, no DST)
    'Las Vegas': 'America/Los_Angeles',  # USA (Pacific Time)
}


region_timezone_dict = {
    'Texas': 'America/Chicago',           # Central Time
    'Nova Scotia': 'America/Halifax',     # Atlantic Time
    'Wisconsin': 'America/Chicago',       # Central Time
    'Massachusetts': 'America/New_York',  # Eastern Time
    'Nebraska': 'America/Chicago',        # Central Time
    'Wyoming': 'America/Denver',          # Mountain Time
    'Kentucky': 'America/New_York',       # Eastern Time
    'Maryland': 'America/New_York',       # Eastern Time
    'Arkansas': 'America/Chicago',        # Central Time
    'Saskatchewan': 'America/Regina',     # Central Time (no DST)
    'South Dakota': 'America/Chicago',    # Central Time
    'Ohio': 'America/New_York',           # Eastern Time
    'Nevada': 'America/Los_Angeles',      # Pacific Time
    'Kansas': 'America/Chicago',          # Central Time
    'Virginia': 'America/New_York',       # Eastern Time
    'Minnesota': 'America/Chicago',       # Central Time
    'Washington': 'America/Los_Angeles',  # Pacific Time
    'Maine': 'America/New_York',          # Eastern Time
    'Vermont': 'America/New_York',        # Eastern Time
    'Alaska': 'America/Anchorage',        # Alaska Time
    'Manitoba': 'America/Winnipeg',       # Central Time
    'Alabama': 'America/Chicago',         # Central Time
    'Iowa': 'America/Chicago',            # Central Time
    'Rhode Island': 'America/New_York',   # Eastern Time
    'Missouri': 'America/Chicago',        # Central Time
    'Hawaii': 'Pacific/Honolulu',         # Hawaii-Aleutian Time (no DST)
    'Florida': 'America/New_York',        # Eastern Time (some parts Central)
    'Michigan': 'America/Detroit',        # Eastern Time
    'Tennessee': 'America/Chicago',       # Central Time (some parts Eastern)
    'Pennsylvania': 'America/New_York',   # Eastern Time
    'Delaware': 'America/New_York',       # Eastern Time
    'Prince Edward Island': 'America/Halifax',  # Atlantic Time
    'District of Columbia': 'America/New_York', # Eastern Time
    'North Dakota': 'America/Chicago',    # Central Time
    'Oklahoma': 'America/Chicago',        # Central Time
    'New Brunswick': 'America/Halifax',   # Atlantic Time
    'Ontario': 'America/Toronto',         # Eastern Time
    'Quebec': 'America/Toronto',          # Eastern Time
    'Idaho': 'America/Boise',             # Mountain Time
    'Indiana': 'America/Indiana/Indianapolis',  # Eastern Time
    'New York': 'America/New_York',       # Eastern Time
    'Mississippi': 'America/Chicago',     # Central Time
    'Georgia': 'America/New_York',        # Eastern Time
    'Illinois': 'America/Chicago',        # Central Time
    'Louisiana': 'America/Chicago',       # Central Time
    'New Jersey': 'America/New_York',     # Eastern Time
    'West Virginia': 'America/New_York',  # Eastern Time
    'South Carolina': 'America/New_York', # Eastern Time
    'Alberta': 'America/Edmonton',        # Mountain Time
    'Arizona': 'America/Phoenix',         # Mountain Time (no DST)
    'North Carolina': 'America/New_York', # Eastern Time
    'Newfoundland and Labrador': 'America/St_Johns',  # Newfoundland Time
    'California': 'America/Los_Angeles',  # Pacific Time
    'Utah': 'America/Denver',             # Mountain Time
    'New Hampshire': 'America/New_York',  # Eastern Time
    'Connecticut': 'America/New_York',    # Eastern Time
    'Montana': 'America/Denver',          # Mountain Time
    'British Columbia': 'America/Vancouver',  # Pacific Time
    'Colorado': 'America/Denver',         # Mountain Time
    'New Mexico': 'America/Denver',       # Mountain Time
    'Oregon': 'America/Los_Angeles'       # Pacific Time
}

## timezone conversion

In [21]:

# Function to convert the UTC datetime to local time and extract date, hour, and minute
def extract_local_date_hour_minute(row, region_timezone_dict):
    # Check if the row contains a valid timestamp
    if pd.isnull(row['event_timestamp']):
        return pd.NaT, pd.NaT, pd.NaT  # Return NaT for all if the timestamp is null

    # Get the region and corresponding timezone
    region = row['geo_region']
    tz = region_timezone_dict.get(region, None)  # Fetch timezone, fallback to None
    
    # If a valid timezone is found, apply timezone conversion
    if tz:
        try:
            local_time = row['event_timestamp'].tz_convert(tz)  # Convert to local time
            
            local_date = local_time.date()  # Extract local date
            local_hour = local_time.hour  # Extract local hour
            local_minute = local_time.minute  # Extract local minute
            
            return local_date, local_hour, local_minute
        except Exception as e:
            print(f"Error converting to timezone {tz}: {e}")
            return pd.NaT, pd.NaT, pd.NaT
    else:
        # Fallback to UTC timestamp
        return row['event_timestamp'].date(), row['event_timestamp'].hour, row['event_timestamp'].minute

# Apply the conversion function to the DataFrame
data[['local_date', 'local_hour', 'local_minute']] = data.apply(
    lambda row: extract_local_date_hour_minute(row, region_timezone_dict), axis=1, result_type='expand'
)

# Convert local_date to datetime format
data['local_date'] = pd.to_datetime(data['local_date'])

### additional date columns creation

In [22]:
data['hour_minute_fraction'] = round(data['local_hour'] + data['local_minute'] / 60,2)  # Hour + fraction of minute

# Categorize the time of day
def categorize_time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

data['time_of_day'] = data['local_hour'].apply(categorize_time_of_day)



# create year, quarter, month, day number of week, weekend/weekday based on event_date column

# Create new columns
data['year'] = data['local_date'].dt.year
data['quarter'] = data['local_date'].dt.quarter
data['month'] = data['local_date'].dt.month
data['day'] = data['local_date'].dt.day
data['day_of_week'] = data['local_date'].dt.day_name()  
data['day_of_year'] = data['local_date'].dt.dayofyear  # Day of the year
data['week_number'] = data['local_date'].dt.isocalendar().week  # ISO week number

data['day_of_week_nr'] = data['local_date'].dt.weekday  # Monday=0, Sunday=6
data['is_weekend'] = data['day_of_week_nr'].apply(lambda x: 1 if x >= 5 else 0)  # 1 for weekend, 0 for weekday
data.drop(['day_of_week_nr'],axis=1) # already symbolic. not needed

,event_date,session_id,user_pseudo_id,event_name,event_timestamp,page_location,page_title,device_category,device_mobile_brand_name,device_mobile_model_name,...,hour_minute_fraction,time_of_day,year,quarter,month,day,day_of_week,day_of_year,week_number,is_weekend
0,2021-01-31,5097802636,4.003301e+07,user_engagement,2021-01-31 11:29:08.453492+00:00,https://shop.googlemerchandisestore.com/Google...,Apparel | Google Merchandise Store,desktop,Google,Chrome,...,6.48,Morning,2021,1,1,31,Sunday,31,4,1
2,2020-11-09,8591897766,9.121850e+06,page_view,2020-11-09 01:09:23.249458+00:00,https://www.googlemerchandisestore.com/,Google Online Store,mobile,Xiaomi,<Other>,...,20.15,Evening,2020,4,11,8,Sunday,313,45,1
3,2020-11-28,5526548391,8.693622e+07,add_to_cart,2020-11-28 21:18:16.691847+00:00,https://shop.googlemerchandisestore.com/Google...,New | Google Merchandise Store,desktop,Google,ChromeBook,...,13.30,Afternoon,2020,4,11,28,Saturday,333,48,1
4,2020-11-25,4176760220,6.467669e+07,page_view,2020-11-25 08:19:03.997111+00:00,https://shop.googlemerchandisestore.com/Google...,Bags | Lifestyle | Google Merchandise Store,desktop,Google,ChromeBook,...,3.32,Night,2020,4,11,25,Wednesday,330,48,0
5,2021-01-20,6340390185,6.340226e+07,view_item,2021-01-20 16:53:55.687539+00:00,https://shop.googlemerchandisestore.com/Google...,Eco-Friendly | Google Merchandise Store,desktop,Google,Chrome,...,8.88,Morning,2021,1,1,20,Wednesday,20,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
340295,2020-12-05,2656936224,7.608661e+06,page_view,2020-12-05 16:06:12.906025+00:00,https://shop.googlemerchandisestore.com/Google...,YouTube | Shop by Brand | Google Merchandise S...,desktop,Google,Chrome,...,11.10,Morning,2020,4,12,5,Saturday,340,49,1
340296,2021-01-15,4725929234,2.100342e+07,add_to_cart,2021-01-15 11:08:41.877005+00:00,https://shop.googlemerchandisestore.com/Google...,Lifestyle,desktop,Apple,Safari,...,4.13,Night,2021,1,1,15,Friday,15,2,0
340297,2020-12-08,4635764050,3.353224e+06,page_view,2020-12-08 19:57:17.088992+00:00,https://shop.googlemerchandisestore.com/Google...,Google Land & Sea Unisex Tee,desktop,Apple,Safari,...,11.95,Morning,2020,4,12,8,Tuesday,343,50,0
340298,2020-12-10,6500649161,3.051244e+07,view_item,2020-12-10 00:49:24.174451+00:00,https://shop.googlemerchandisestore.com/Google...,Eco-Friendly | Google Merchandise Store,desktop,Google,Chrome,...,16.82,Afternoon,2020,4,12,9,Wednesday,344,50,0
340299,2020-12-06,9423794598,4.841817e+07,begin_checkout,2020-12-06 16:34:12.331571+00:00,https://shop.googlemerchandisestore.com/yourin...,Checkout Your Information,mobile,Apple,<Other>,...,11.57,Morning,2020,4,12,6,Sunday,341,49,1

# device columns

- for many cases we assumed devices, brands and os versions of 2021 as top devices

## device mobile brand

In [23]:

# Fill 'device_mobile_brand_name' with 'PC' where the conditions are met
data.loc[(data['device_operating_system'] == 'Windows') & (data['device_category'] == 'desktop'), 'device_mobile_brand_name'] = 'PC'
data.loc[(data['device_operating_system'] == 'Web') & (data['device_category'] == 'desktop') & ((data['device_mobile_model_name'].isin(['Chrome','Edge','Firefox']))), 'device_mobile_brand_name'] = 'PC'
data.loc[(data['device_mobile_brand_name'] == 'Microsoft') & (data['device_category'] == 'desktop'), 'device_mobile_brand_name'] = 'PC'


data['device_mobile_brand_name'].value_counts()

device_mobile_brand_name
Apple        131822
PC            97226
Google        24487
Samsung       23802
<Other>       21911
Xiaomi         7259
Huawei         3809
Mozilla         269
Microsoft        23
Name: count, dtype: int64

## device_mobile_model_name

In [24]:


data.loc[(data['device_mobile_brand_name'] == 'Samsung'), 'device_mobile_model_name'] = 'Galaxy S21'

data.loc[(data['device_mobile_brand_name'] == 'Xiaomi'), 'device_mobile_model_name'] = 'Mi 11'

data.loc[(data['device_mobile_brand_name'] == 'Huawei'), 'device_mobile_model_name'] = 'P50'

data.loc[(data['device_mobile_brand_name'] == 'Apple')& (data['device_category'] == 'desktop'), 'device_mobile_model_name'] = 'Macintosh'

data.loc[(data['device_mobile_brand_name'] == 'PC')& (data['device_mobile_model_name'] == 'Chrome'), 'device_mobile_model_name'] = 'PC'


data['device_mobile_model_name'].value_counts()

device_mobile_model_name
PC            85167
iPhone        64477
Macintosh     62586
<Other>       28865
Galaxy S21    23802
ChromeBook    17710
Mi 11          7259
Edge           6692
iPad           4194
P50            3809
Firefox        3786
Chrome          920
Pixel 3         719
Pixel 4 XL      616
Safari            6
Name: count, dtype: int64

## device_operating_system

In [25]:

# Chrome OS - ensure 'desktop' is correctly spelled
data.loc[(data['device_mobile_model_name'] == 'ChromeBook') & (data['device_category'] == 'desktop'), 'device_operating_system'] = 'ChromeOS'

# iOS - for iPhone and iPad
data.loc[data['device_mobile_model_name'].isin(['iPhone', 'iPad']) | (data['device_mobile_brand_name'] == 'Apple') | ((data['device_mobile_model_name'] == 'Apple') & (data['device_category'].isin(['mobile','tablet']))), 'device_operating_system'] = 'iOS'

# Android - for specified brands
android_brands = ['Xiaomi', 'Huawei', 'Samsung']
data.loc[data['device_mobile_brand_name'].isin(android_brands), 'device_operating_system'] = 'Android'
data.loc[(data['device_mobile_brand_name'] == 'Google') & (data['device_category'].isin(['mobile','tablet'])), 'device_operating_system'] = 'Android'

# macOS
data.loc[(data['device_mobile_brand_name'] == 'Apple') & (data['device_category'] == 'desktop'), 'device_operating_system'] = 'MacOS'

# Windows
data.loc[(data['device_operating_system'] == 'Web') & (data['device_category'] == 'desktop') & ((data['device_mobile_brand_name'] == 'PC')), 'device_operating_system'] = 'Windows'
data.loc[(data['device_operating_system'] == 'Web') & (data['device_category'] == 'desktop') & ((data['device_mobile_brand_name'] == 'Mozilla')), 'device_operating_system'] = 'Windows'
data.loc[(data['device_category'] == 'desktop') & ((data['device_mobile_brand_name'] == 'Microsoft')), 'device_operating_system'] = 'Windows'


data.groupby(['device_category','device_operating_system', 'device_mobile_brand_name']).agg(
    unique_event_count=('event_timestamp', 'nunique')
).sort_values('unique_event_count',ascending=False).reset_index()

,device_category,device_operating_system,device_mobile_brand_name,unique_event_count
0,desktop,Windows,PC,74928
1,mobile,iOS,Apple,50005
2,desktop,MacOS,Apple,48367
3,mobile,Android,Samsung,17135
4,desktop,ChromeOS,Google,13658
5,mobile,Web,<Other>,8621
6,mobile,Android,<Other>,6410
7,mobile,Android,Xiaomi,5568
8,mobile,Android,Google,4513
9,tablet,iOS,Apple,3290
10,mobile,Android,Huawei,2744
11,desktop,Web,<Other>,1332
12,tablet,Android,Samsung,1168
13,desktop,<Other>,Google,718
14,tablet,Android,<Other>,242
15,tablet,Web,<Other>,221
16,desktop,<Other>,Mozilla,184
17,tablet,Android,Huawei,169
18,desktop,<Other>,<Other>,84
19,mobile,<Other>,<Other>,21
20,tablet,Android,Google,12
21,tablet,Web,Microsoft,11
22,tablet,Android,Xiaomi,8
23,tablet,Windows,Microsoft,7
24,desktop,<Other>,PC,5
25,mobile,Web,Microsoft,3
26,mobile,Web,Mozilla,1
27,mobile,Android,Microsoft,1

## device_operating_system_version

In [26]:
# replace all string characters and keep float values
data['device_operating_system_version'] = data['device_operating_system_version'].str.extract(r'(\d+\.\d+|\d+)')

In [27]:
# for chrome os consider same browser version
# https://chromereleases.googleblog.com/2021/
data.loc[(data['device_operating_system'] == 'ChromeOS') & (data['device_operating_system_version'].isnull()), 'device_operating_system_version'] = data['device_web_info_browser_version']


data['device_operating_system_version'].value_counts()

device_operating_system_version
10         113993
10.15       44231
14.2        14454
14.3        13608
86.0         8571
87.0         7280
9            4882
11.1         4351
7            2483
<Other>      1859
Name: count, dtype: int64

In [28]:
data['device_operating_system_version'].value_counts()

device_operating_system_version
10         113993
10.15       44231
14.2        14454
14.3        13608
86.0         8571
87.0         7280
9            4882
11.1         4351
7            2483
<Other>      1859
Name: count, dtype: int64

## device_language

In [29]:
data.groupby(['geo_country','device_language']).agg(
    unique_event_count=('event_timestamp', 'nunique')
).sort_values('unique_event_count',ascending=False).reset_index()

      geo_country device_language  unique_event_count
0   United States           en-us               76235
1          Canada           en-us               13466
2   United States           en-gb               12576
3   United States              en                6141
4   United States              zh                5660
5   United States           en-ca                4697
6   United States              fr                2886
7   United States           es-es                2845
8          Canada           en-gb                1980
9   United States              de                1579
10  United States              ko                1398
11         Canada              zh                1024
12         Canada              en                 878
13         Canada           en-ca                 607
14         Canada              fr                 451
15         Canada           es-es                 434
16         Canada              ko                 343
17         Canada              de                 186

In [30]:
data.groupby(['geo_country']).agg(
    null_device_language_count=('device_language', lambda x: x.isna().sum())
).sort_values('null_device_language_count',ascending=False).reset_index()

     geo_country  null_device_language_count
0  United States                      118905
1         Canada                       20068

In [31]:
data['device_language'].value_counts()

device_language
en-us    115540
en-gb     18768
en         9043
zh         8539
en-ca      6793
fr         4288
es-es      4080
ko         2350
de         2234
Name: count, dtype: int64

## device_web_info_browser

In [32]:
data.loc[(data['device_web_info_browser'] == 'Android Webview'), 'device_web_info_browser'] = "Chrome"


data['device_web_info_browser'].value_counts()

device_web_info_browser
Chrome     215803
Safari      74062
<Other>      8799
Edge         6786
Firefox      5158
Name: count, dtype: int64

## device_web_info_browser_version

In [33]:
data['device_web_info_browser_version'].value_counts()

device_web_info_browser_version
87.0       115241
86.0        65591
14.0        55125
<Other>     55012
604          7614
13.1         6767
84.0         1699
83.0         1377
13.0         1338
82.0          796
14.1           42
87              3
86              3
Name: count, dtype: int64

# Traffic Columns

## session counts

In [34]:
data.groupby(['traffic_source_medium','traffic_source_source']).agg(
    unique_session_count=('session_id', 'nunique')
).sort_values('unique_session_count',ascending=False).reset_index()

,traffic_source_medium,traffic_source_source,unique_session_count
0,organic,google,23426
1,(none),(direct),17155
2,<Other>,<Other>,10841
3,referral,<Other>,7205
4,referral,shop.googlemerchandisestore.com,5717
5,(data deleted),(data deleted),3969
6,cpc,google,3286
7,organic,<Other>,2134
8,(data deleted),<Other>,59
9,cpc,<Other>,1
10,referral,(data deleted),1

## null counts

In [35]:
data.groupby(['traffic_source_medium']).agg(
    null_count=('traffic_source_source', lambda x: x.isna().sum())
).sort_values('null_count',ascending=False).reset_index()

  traffic_source_medium  null_count
0        (data deleted)           0
1                (none)           0
2               <Other>           0
3                   cpc           0
4               organic           0
5              referral           0

In [36]:
data.groupby(['traffic_source_source']).agg(
    null_count=('traffic_source_medium', lambda x: x.isna().sum())
).sort_values('null_count',ascending=False).reset_index()

# no null count on

             traffic_source_source  null_count
0                   (data deleted)           0
1                         (direct)           0
2                          <Other>           0
3                           google           0
4  shop.googlemerchandisestore.com           0

## remove parenthesis ()

In [37]:
data['traffic_source_source'] = data['traffic_source_source'].str.replace(r'\(|\)', '', regex=True).str.strip()
data['traffic_source_medium'] = data['traffic_source_medium'].str.replace(r'\(|\)', '', regex=True).str.strip()


data.groupby(['traffic_source_medium','traffic_source_source']).agg(
    unique_session_count=('session_id', 'nunique')
).sort_values('unique_session_count',ascending=False).reset_index()

,traffic_source_medium,traffic_source_source,unique_session_count
0,organic,google,23426
1,none,direct,17155
2,<Other>,<Other>,10841
3,referral,<Other>,7205
4,referral,shop.googlemerchandisestore.com,5717
5,data deleted,data deleted,3969
6,cpc,google,3286
7,organic,<Other>,2134
8,data deleted,<Other>,59
9,cpc,<Other>,1
10,referral,data deleted,1

## Replace values

- bad referral naming from shop.googlemerchandisestore.com means badly tracked and we should consider direct traffic instead
- medium =none is referring to direct traffic and we will use the same name to not confuse with null values
- data deleted is most likely paid campaign by google to avoid confidential data exposure so we will replace with cpc / google as well

In [38]:
# source is merchandisestore.com then direct (bad parameter)
data.loc[(data['traffic_source_source'] == 'shop.googlemerchandisestore.com') & (data['traffic_source_medium'] == 'referral'), ['traffic_source_medium', 'traffic_source_source']] = ['direct','direct']


# referral traffic
data.loc[(data['traffic_source_medium'] == 'referral'), ['traffic_source_medium', 'traffic_source_source']] = ['referral','referral_link']

# google organic
data.loc[(data['traffic_source_source'].isnull()) & (data['traffic_source_medium']== 'organic'),  ['traffic_source_medium', 'traffic_source_source']] = ['organic','google']


# when we have direct traffic it is direct traffic
data.loc[(data['traffic_source_source'] == 'direct'), 'traffic_source_medium'] = 'direct'

# data deleted is paid campaign cpc by google
data.loc[(data['traffic_source_source'] == 'data deleted') | (data['traffic_source_medium'] == 'data deleted'), ['traffic_source_medium', 'traffic_source_source']] = ['cpc', 'google']


# full null values are direct
data.loc[(data['traffic_source_source'].isnull()) & (data['traffic_source_medium'].isnull()),  ['traffic_source_medium', 'traffic_source_source']] = ['direct','direct']
# data.loc[(data['traffic_source_source'].isnull()) & (data['traffic_source_medium'].isnull()), 'traffic_source_medium'] = 'direct'


data.groupby(['traffic_source_source','traffic_source_medium']).agg(
    unique_session_count=('session_id', 'nunique')
).sort_values('unique_session_count',ascending=False).reset_index()

  traffic_source_source traffic_source_medium  unique_session_count
0                google               organic                 23426
1                direct                direct                 22845
2               <Other>               <Other>                 10841
3                google                   cpc                  7313
4         referral_link              referral                  7206
5               <Other>               organic                  2134
6               <Other>                   cpc                     1

# Page columns

## pagelocation string work

In [39]:

# remove page unavailable
data = data.loc[data['page_title'] != 'Page Unavailable']


# lowercase everything to guarantee string match
data['page_location'] = data['page_location'].str.lower()
data['page_title'] = data['page_title'].str.lower()


# domain readability
data['page_location'] = data['page_location'].str.replace(r'shop.googlemerchandisestore.com/store.html', 'shop.googlemerchandisestore.com/').str.strip()
data['page_location'] = data['page_location'].str.replace(r'+', ' ').str.strip()
data['page_location'] = data['page_location'].str.replace(r'https://', '').str.strip()
data['page_location'] = data['page_location'].str.replace(r'http://', '').str.strip()
data['page_location'] = data['page_location'].str.replace(r'www.', '').str.strip()

## remove low percentile page record count

In [40]:
df_pages_agg=data.groupby(['page_location']).agg(
    total_events=('event_timestamp', 'count'),
).sort_values('total_events',ascending=False).reset_index()


# Calculate the 10th percentile of event counts
event_count_percentile = df_pages_agg['total_events'].quantile(0.10)

print(f"10th percentile of event count: {event_count_percentile}")

# # Filter out page paths below the 10th percentile
df_pages_agg_filtered = df_pages_agg[df_pages_agg['total_events'] >= event_count_percentile]



data=data.merge(df_pages_agg_filtered[['page_location']],
                on=['page_location'],
                how='inner')

10th percentile of event count: 2.0

## split categories in page paths

In [41]:
# Step 1: Split 'page_location' into 4 parts (max)
split_columns = data['page_location'].str.split('/', n=4, expand=True)

# Step 2: Assign the first three parts to new columns (ignore the first empty part if there is a leading '/')
data['domain'] = split_columns[0] # url_domain 
data['page_path_level_1'] = split_columns[1].replace('', pd.NA)
data['page_path_level_2'] = split_columns[2].replace('', pd.NA)
data['page_path_level_3'] = split_columns[3].replace('', pd.NA)

# Count the number of non-null levels in the path
data['path_length'] = data[['page_path_level_1', 'page_path_level_2', 'page_path_level_3']].notna().sum(axis=1)



df_pages_total=data[['page_title','page_location','page_path_level_1','page_path_level_2','page_path_level_3','path_length']]

## fill length page path with page title

In [42]:
data['page_path_level_1'] = data.apply(
    lambda row: row['page_title'] if pd.isna(row['page_path_level_2']) else row['page_path_level_1'], 
    axis=1
)

df_pages_total=data[['page_title','page_location','page_path_level_1','page_path_level_2','page_path_level_3']]

## page location long tail conversion to "long_tail"

In [43]:
# Step 1: Aggregate events by 'page_location' and 'page_path_level_3'
df_pages_agg = data.groupby(['page_location', 'page_path_level_3']).agg(
    total_events=('event_timestamp', 'count'),
).sort_values('total_events', ascending=False).reset_index()

# Step 2: Calculate the desired percentile of total events to consider long tail
event_count_percentile = df_pages_agg['total_events'].quantile(0.30)

# Step 3: Create a mask for long tail pages
long_tail_mask = df_pages_agg['total_events'] < event_count_percentile

# Step 4: Create a dictionary to map original page_path_level_3 to "long_tail"
long_tail_mapping = dict(zip(df_pages_agg['page_path_level_3'], 
                             df_pages_agg['page_path_level_3'].where(~long_tail_mask, "long_tail")))


# Step 5: Replace the values directly in the original DataFrame
# Only apply the mapping if path_length is 3
data['page_path_level_3'] = data.apply(
    lambda row: long_tail_mapping.get(row['page_path_level_3'], row['page_path_level_3']) if row['path_length'] == 3 else row['page_path_level_3'],
    axis=1
)


# Check the updated DataFrame
# print(data.head())

## fill the other page path levels with previous page path column

This will allow for hierarchical encoding without sacrificing columns or rows

In [44]:
# Fill 'page_path_level_2' by concatenating 'page_path_1' and 'page_path_2' (if 'page_path_2' is null)
data['page_path_level_2'] = data.apply(
    lambda row: row['page_path_level_1'] if pd.isna(row['page_path_level_2']) 
    else f"{row['page_path_level_1']}/{row['page_path_level_2']}", axis=1
)

# Fill 'page_path_level_3' by concatenating 'page_path_level_2' and 'page_path_3' (if 'page_path_3' is null)
data['page_path_level_3'] = data.apply(
    lambda row: row['page_path_level_2'] if pd.isna(row['page_path_level_3']) 
    else f"{row['page_path_level_2']}/{row['page_path_level_3']}", axis=1
)

# Final df without relevant columns

In [45]:
data_final=data.drop(['page_title','page_location','session_id','user_pseudo_id','event_timestamp','local_date'],axis=1)

In [46]:
data.shape

(308607, 42)

In [47]:
data_final.to_csv('df_merch_pre_proc.csv',index=False)

# df_merch_pre_proc.csv
# df_merch_profile.csv
# df_merch_data_prep.csv