# File and libraries

In [57]:
import pandas as pd
import numpy as np


filepath=r'google_merch_store_raw_merge.csv'

sample_filepath=r'google_merch_store_ga4_merch_flattened_raw_000000000000.csv'



file_tag = "ga4_merch_store"

# DSLabs functions

In [58]:
%run "dslabs_functions.py"

# data functions

In [59]:
%run "data_functions.py"

data_functions lodaded

# Load

In [60]:
test_data=True
# test_data=False

if test_data==True:
    # Specify the chunk size (e.g., load 1000 lines at a time)
    chunk_size = 100000

    # Initialize an empty list to store the chunks
    chunks = []

    # Load the first chunk (or any number of chunks you want)
    for chunk in pd.read_csv(filepath, chunksize=chunk_size, parse_dates=["event_date"],date_format="%Y-%m-%d"):
        chunks.append(chunk)
        # Break after the first chunk to load only a sample
        break

    # Concatenate the chunks into a single DataFrame (optional)
    data = pd.concat(chunks)

else:
    data=pd.read_csv(filepath)


data.head()

,event_date,session_id,user_pseudo_id,event_name,event_timestamp,page_location,page_title,device_category,device_mobile_brand_name,device_mobile_model_name,...,item_id,item_name,item_brand,item_variant,item_category,price,quantity,item_revenue,item_list_index,promotion_name
0,2020-12-24,4969127937,5.157889e+06,add_payment_info,1608829882058276,https://shop.googlemerchandisestore.com/paymen...,Payment Method,desktop,Google,ChromeBook,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-12-24,972367636,6.107506e+07,scroll,1608825189361207,https://shop.googlemerchandisestore.com/asearc...,Store search results,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-12-24,7663299872,3.087717e+06,session_start,1608785340382018,https://shop.googlemerchandisestore.com/store....,Home,mobile,Huawei,<Other>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-12-24,2522966091,6.271470e+06,first_visit,1608820634895030,http://shop.googlemerchandisestore.com/google,Page Unavailable,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-12-24,8141613662,8.410505e+07,scroll,1608815456120537,https://shop.googlemerchandisestore.com/,Home,desktop,Google,Chrome,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
data.shape

(100000, 48)

In [62]:
summary5 = data.describe(include="all")

summary5

,event_date,session_id,user_pseudo_id,event_name,event_timestamp,page_location,page_title,device_category,device_mobile_brand_name,device_mobile_model_name,...,item_id,item_name,item_brand,item_variant,item_category,price,quantity,item_revenue,item_list_index,promotion_name
count,100000,1.000000e+05,1.000000e+05,100000,1.000000e+05,100000,99668,100000,100000,100000,...,42422,42422,42399,42143,42226,40384.000000,1803.000000,42422.000000,41104.000000,42228
unique,NaN,NaN,NaN,17,NaN,767,448,3,8,10,...,884,413,6,37,70,NaN,NaN,NaN,NaN,6
top,NaN,NaN,NaN,view_item,NaN,https://shop.googlemerchandisestore.com/,Home,desktop,Apple,Chrome,...,(not set),(not set),(not set),(not set),Home/Apparel/Men's / Unisex/,NaN,NaN,NaN,NaN,(not set)
freq,NaN,NaN,NaN,31591,NaN,10109,17312,58159,42280,27962,...,1863,2038,38931,40659,6816,NaN,NaN,NaN,NaN,39691
mean,2020-12-16 10:56:56.543999744,4.969973e+09,2.445807e+08,NaN,1.608160e+15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,26.386366,1.861897,0.133869,6.920859,NaN
min,2020-11-01 00:00:00,6.412000e+03,1.000300e+06,NaN,1.604189e+15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000,0.000000,1.000000,NaN
25%,2020-11-23 00:00:00,2.490864e+09,5.706716e+06,NaN,1.606137e+15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,13.000000,1.000000,0.000000,4.000000,NaN
50%,2020-12-15 00:00:00,4.941372e+09,2.062363e+07,NaN,1.608043e+15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22.000000,1.000000,0.000000,7.000000,NaN
75%,2021-01-09 00:00:00,7.463247e+09,5.987010e+07,NaN,1.610211e+15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,30.000000,1.000000,0.000000,10.000000,NaN
max,2021-01-31 00:00:00,9.999433e+09,9.986757e+09,NaN,1.612138e+15,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,313.000000,204.000000,480.000000,24.000000,NaN
std,NaN,2.877555e+09,1.147404e+09,NaN,2.313639e+12,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22.136140,8.934234,3.291725,4.003063,NaN

# class target column creation


we want to classify if that hit is from a returning or new user so we need to group the ga_session_number by 1 or more than 1 session. in this case, new user (ga_session_number = 1) will be 0 and returning user will be more than 1 (ga_session_number > 1)

In [63]:
data['returning_user'] = data['ga_session_number'].apply(lambda x: 0 if x == 1 else 1)

# datetime columns

In [64]:
data['event_timestamp'] = pd.to_datetime(data['event_timestamp'], infer_datetime_format=True)


# sort values by session id to get journey picture and useful for partitioned fillna methods
data = data.sort_values(by=['session_id', 'event_timestamp'], ascending=True)

# column drop

In [65]:
data=data.drop(['debug_mode','device_is_limited_ad_tracking','device_mobile_marketing_name','geo_metro','traffic_source_name'],axis=1)

# replace (not set) and Other with null

we will handle these later but these are actually null values

In [66]:
data.replace('(not set)', np.nan, inplace=True)

data.replace('<Other>', np.nan, inplace=True)

# device columns

- for many cases we assumed devices, brands and os versions of 2021 as fill method

## device mobile brand

In [67]:
# when device category is pc Use fillna with a condition to replace brand null by "PC"




# Fill 'device_mobile_brand_name' with 'PC' where the conditions are met
data.loc[
    (data['device_operating_system'] == 'Windows') & 
    (data['device_category'] == 'desktop'), 
    'device_mobile_brand_name'
] = 'PC'



data = fill_nulls_based_on_top_value_multiple_columns(data, 'device_mobile_brand_name', ['device_category','device_operating_system'])

data['device_mobile_brand_name'].value_counts()

device_mobile_brand_name
Apple        46159
Google       25884
PC           11842
Samsung      10005
Xiaomi        2325
Microsoft     1549
Huawei        1382
Mozilla        834
Name: count, dtype: int64

## device_mobile_model_name

In [68]:


data.loc[(data['device_mobile_brand_name'] == 'Samsung'), 'device_mobile_model_name'] = 'Galaxy S21'

data.loc[(data['device_mobile_brand_name'] == 'Xiaomi'), 'device_mobile_model_name'] = 'Mi 11'

data.loc[(data['device_mobile_brand_name'] == 'Huawei'), 'device_mobile_model_name'] = 'P50'



data = fill_nulls_based_on_top_value_multiple_columns(data, 'device_mobile_model_name', ['device_category','device_mobile_brand_name','device_operating_system'])


data['device_mobile_model_name'].value_counts()

device_mobile_model_name
Chrome        29121
iPhone        24602
Safari        20006
Galaxy S21    10005
ChromeBook     5516
Mi 11          2325
Edge           2195
iPad           1551
P50            1382
Firefox        1313
Pixel 4 XL     1172
Pixel 3         770
Name: count, dtype: int64

# device_operating_system

In [69]:

# Chrome OS - ensure 'desktop' is correctly spelled
data.loc[(data['device_mobile_model_name'] == 'ChromeBook') & (data['device_category'] == 'desktop'), 'device_operating_system'] = 'ChromeOS'

# iOS - for iPhone and iPad
data.loc[data['device_mobile_model_name'].isin(['iPhone', 'iPad']) | ((data['device_mobile_model_name'] == 'Apple') & (data['device_category'] == 'mobile')), 'device_operating_system'] = 'iOS'

# Android - for specified brands
android_brands = ['Xiaomi', 'Huawei', 'Samsung']
data.loc[data['device_mobile_brand_name'].isin(android_brands), 'device_operating_system'] = 'Android'




data = fill_nulls_based_on_top_value_multiple_columns(data, 'device_operating_system', ['device_category','device_mobile_brand_name'])

data['device_operating_system'].value_counts()

device_operating_system
Web          34815
iOS          26156
Android      14386
Windows      11850
Macintosh     7258
ChromeOS      5516
Name: count, dtype: int64

## device_operating_system_version

In [70]:
# for chrome os consider 
# https://chromereleases.googleblog.com/2021/
data.loc[(data['device_operating_system'] == 'ChromeOS') & (data['device_operating_system_version'].isnull()), 'device_operating_system_version'] = data['device_web_info_browser_version']



data = fill_nulls_based_on_top_value_multiple_columns(data, 'device_operating_system_version', ['device_category','device_mobile_model_name','device_operating_system'])

data['device_operating_system_version'].value_counts()

device_operating_system_version
10                       28344
iOS 14.3                 18954
Intel 10.15              12743
Windows 10               10983
Android 10                8234
Macintosh Intel 10.15     6012
iOS 14.2                  5567
86.0                      3303
87.0                      2213
Android 9                 1500
Macintosh Intel 11.1      1246
Windows 7                  867
Name: count, dtype: int64