# Files & imports

In [44]:
from pandas import read_csv, DataFrame
import pandas as pd

In [45]:
## https://www.kaggle.com/datasets/mkechinov/direct-messaging/data #

filename_first_purchase = "client_first_purchase_date.csv"
filename_campaigns = "campaigns.csv"

filename_msg = "messages-demo.csv"
file_tag = "ecom_msg"

data_first_purchase = pd.read_csv(filename_first_purchase)
data_campaigns = pd.read_csv(filename_campaigns)
data_msg = pd.read_csv(filename_msg)

data_first_purchase.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854736 entries, 0 to 1854735
Data columns (total 2 columns):
 #   Column               Dtype
---  ------               -----
 0   client_id            int64
 1   first_purchase_date  object
dtypes: int64(1), object(1)
memory usage: 28.3+ MB

# Load File

### >> method 1.1 - random sample on the merge [used]

In [46]:
import pandas as pd

# Sample data based on the 'test_data' flag
def sample_data(data, test_data=False):
    sample_fraction = 0.01 if test_data else 0.0060
    return data.sample(frac=sample_fraction)

# Sample each dataset
#data_first_purchase_sampled = sample_data(data_first_purchase, test_data=test)  # Replace test_data=False as needed
#data_campaigns_sampled = sample_data(data_campaigns, test_data=test)
#data_msg_sampled = sample_data(data_msg, test_data=test)

test = True 

def sample_per_day(group, fraction=0.1):
    return group.sample(frac=fraction)

if test==True: 

    sample = 0.01

    #data_first_purchase['first_purchase_date'] = pd.to_datetime(data_first_purchase['first_purchase_date']) 
    # Apply the sampling to each group (grouped by event_date) 1%
    #data_first_purchase = data_first_purchase.groupby('first_purchase_date').apply(lambda x: sample_per_day(x, sample)).reset_index(drop=True)

    #data_campaigns['started_at'] = pd.to_datetime(data_campaigns['started_at']) 
    # Apply the sampling to each group (grouped by event_date) 1%
    #data_campaigns = data_campaigns.groupby('started_at').apply(lambda x: sample_per_day(x, sample)).reset_index(drop=True)

    data_msg['sent_at'] = pd.to_datetime(data_msg['sent_at']) 
    # Apply the sampling to each group (grouped by event_date) 1%
    data_msg = data_msg.groupby('sent_at').apply(lambda x: sample_per_day(x, sample)).reset_index(drop=True) 
   

else: 
    sample = 0.09

    #data_first_purchase['first_purchase_date'] = pd.to_datetime(data_first_purchase['first_purchase_date']) 
    # Apply the sampling to each group (grouped by event_date) 10%
    #data_first_purchase = data_first_purchase.groupby('first_purchase_date').apply(lambda x: sample_per_day(x, sample)).reset_index(drop=True)
    
    #data_campaigns['started_at'] = pd.to_datetime(data_campaigns['started_at']) 
    # Apply the sampling to each group (grouped by event_date) 1%
    #data_campaigns = data_campaigns.groupby('started_at').apply(lambda x: sample_per_day(x, sample)).reset_index(drop=True)

    data_msg['sent_at'] = pd.to_datetime(data_msg['sent_at']) 
    # Apply the sampling to each group (grouped by event_date) 1%
    data_msg = data_msg.groupby('sent_at').apply(lambda x: sample_per_day(x, sample)).reset_index(drop=True) 

# Display some rows from the final dataset
data_first_purchase.info()
data_campaigns.info()
data_msg.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1854736 entries, 0 to 1854735
Data columns (total 2 columns):
 #   Column               Dtype
---  ------               -----
 0   client_id            int64
 1   first_purchase_date  object
dtypes: int64(1), object(1)
memory usage: 28.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1907 entries, 0 to 1906
Data columns (total 19 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id                            1907 non-null   int64
 1   campaign_type                 1907 non-null   object
 2   channel                       1907 non-null   object
 3   topic                         1877 non-null   object
 4   started_at                    1824 non-null   object
 5   finished_at                   1808 non-null   object
 6   total_count                   1824 non-null   float64
 7   ab_test                       12 non-null     object
 8   warmup_mode                   1830 non-null   object
 9   hour_limit                    31 non-null     float64
 10  subject_length                1880 non-null   float64
 11  subject_with_personalization  1880 non-null   object
 12  subject_with_deadline         1880 non-null   object
 13  subject_with_emoji            1880 non-null   object
 14  subject_with_bonuses          1880 non-null   object
 15  subject_with_discount         1880 non-null   object
 16  subject_with_saleout          1880 non-null   object
 17  is_test                       27 non-null     object
 18  position                      24 non-null     float64
dtypes: float64(4), int64(1), object(14)
memory usage: 283.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71568 entries, 0 to 71567
Data columns (total 32 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     71568 non-null  int64
 1   message_id             71568 non-null  object
 2   campaign_id            71568 non-null  int64
 3   message_type           71568 non-null  object
 4   client_id              71568 non-null  int64
 5   channel                71568 non-null  object
 6   category               0 non-null      float64
 7   platform               4315 non-null   object
 8   email_provider         28970 non-null  object
 9   stream                 71568 non-null  object
 10  date                   71568 non-null  object
 11  sent_at                71568 non-null  datetime64[ns]
 12  is_opened              71568 non-null  object
 13  opened_first_time_at   10131 non-null  object
 14  opened_last_time_at    10131 non-null  object
 15  is_clicked             71568 non-null  object
 16  clicked_first_time_at  894 non-null    object
 17  clicked_last_time_at   894 non-null    object
 18  is_unsubscribed        71568 non-null  object
 19  unsubscribed_at        2983 non-null   object
 20  is_hard_bounced        71568 non-null  object
 21  hard_bounced_at        4 non-null      object
 22  is_soft_bounced        71568 non-null  object
 23  soft_bounced_at        12 non-null     object
 24  is_complained          71568 non-null  object
 25  complained_at          19 non-null     object
 26  is_blocked             71568 non-null  object
 27  blocked_at             0 non-null      object
 28  is_purchased           71568 non-null  object
 29  purchased_at           21 non-null     object
 30  created_at             71568 non-null  object
 31  updated_at             71568 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(3), object(27)
memory usage: 17.5+ MB

In [47]:
# Filter the relevant columns
first_purchase_filtered = data_first_purchase[['client_id', 'first_purchase_date']]
campaign_filtered = data_campaigns[['id', 'campaign_type', 'channel', 'topic', 'started_at',
                                            'finished_at', 'total_count', 'subject_length',
                                            'subject_with_personalization', 'subject_with_deadline',
                                            'subject_with_emoji', 'subject_with_bonuses',
                                            'subject_with_discount', 'subject_with_saleout']]




# Merge datasets using left join (or inner join if desired)
data_1 = pd.merge(data_msg, first_purchase_filtered, on='client_id', how='left')


# Create composite keys
data_1['composite_key'] = data_1['campaign_id'].astype(str) + '_' + data_1['message_type'].astype(str)
campaign_filtered['composite_key'] = campaign_filtered['id'].astype(str) + '_' + campaign_filtered['campaign_type'].astype(str)

# Perform the left join using the composite key
data_final = pd.merge(data_1, campaign_filtered, on='composite_key', how='left', suffixes=('_msg', '_cmp'))


# Ensure the columns have the same data type
#data_1['campaign_id'] = data_1['campaign_id'].astype(str)
#data_1['message_type'] = data_1['message_type'].astype(str)
#
#campaign_filtered['id'] = campaign_filtered['id'].astype(str)
#campaign_filtered['campaign_type'] = campaign_filtered['campaign_type'].astype(str)

#data_final = pd.merge(data_1, campaign_filtered, left_on=['campaign_id', "message_type"], right_on=['id', "campaign_type"], how='left', suffixes=('_msg', '_cmp'))

data_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71568 entries, 0 to 71567
Data columns (total 48 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_msg                        71568 non-null  int64
 1   message_id                    71568 non-null  object
 2   campaign_id                   71568 non-null  int64
 3   message_type                  71568 non-null  object
 4   client_id                     71568 non-null  int64
 5   channel_msg                   71568 non-null  object
 6   category                      0 non-null      float64
 7   platform                      4315 non-null   object
 8   email_provider                28970 non-null  object
 9   stream                        71568 non-null  object
 10  date                          71568 non-null  object
 11  sent_at                       71568 non-null  datetime64[ns]
 12  is_opened                     71568 non-null  object
 13  opened_first_time_at          10131 non-null  object
 14  opened_last_time_at           10131 non-null  object
 15  is_clicked                    71568 non-null  object
 16  clicked_first_time_at         894 non-null    object
 17  clicked_last_time_at          894 non-null    object
 18  is_unsubscribed               71568 non-null  object
 19  unsubscribed_at               2983 non-null   object
 20  is_hard_bounced               71568 non-null  object
 21  hard_bounced_at               4 non-null      object
 22  is_soft_bounced               71568 non-null  object
 23  soft_bounced_at               12 non-null     object
 24  is_complained                 71568 non-null  object
 25  complained_at                 19 non-null     object
 26  is_blocked                    71568 non-null  object
 27  blocked_at                    0 non-null      object
 28  is_purchased                  71568 non-null  object
 29  purchased_at                  21 non-null     object
 30  created_at                    71568 non-null  object
 31  updated_at                    71568 non-null  object
 32  first_purchase_date           12192 non-null  object
 33  composite_key                 71568 non-null  object
 34  id_cmp                        71568 non-null  int64
 35  campaign_type                 71568 non-null  object
 36  channel_cmp                   71568 non-null  object
 37  topic                         70854 non-null  object
 38  started_at                    71063 non-null  object
 39  finished_at                   71063 non-null  object
 40  total_count                   71063 non-null  float64
 41  subject_length                71288 non-null  float64
 42  subject_with_personalization  71288 non-null  object
 43  subject_with_deadline         71288 non-null  object
 44  subject_with_emoji            71288 non-null  object
 45  subject_with_bonuses          71288 non-null  object
 46  subject_with_discount         71288 non-null  object
 47  subject_with_saleout          71288 non-null  object
dtypes: datetime64[ns](1), float64(3), int64(4), object(40)
memory usage: 26.2+ MB

## undersample of the negative class (remove 30000 rows) [NOT USED]

In [48]:
# Balancing the final dataset according to the 'is_unsubscribed' column
#target_count = data[data['is_unsubscribed'] == "t"].shape[0]
#non_target_count = data[data['is_unsubscribed'] == "f"].shape[0]
#
## Determine how many rows to remove to make the dataset more balanced
#rows_to_remove = non_target_count - target_count - 30000
#if rows_to_remove > 0:
#    data_filtered = data[data['is_unsubscribed'] == "f"].sample(n=non_target_count - rows_to_remove)
#    data_final = pd.concat([data[data['is_unsubscribed'] == "t"], data_filtered])
#else:
#    data_final = data

In [49]:
%run "dslabs_functions.py"

dslabs_functions loaded

# Transformations

## Remove columns

In [50]:
#drop id columns - are not relevant for the prediction of the class

data_final = data_final.drop(columns=['message_id', 'id_msg', "id_cmp", 'campaign_id','client_id'])

# Drop the composite key if it's no longer needed
data_final.drop(columns=['composite_key'], inplace=True)

In [51]:
#drop MV columns - where MV values are around 90% or above. 

data_final = data_final.drop(columns=["category", "stream", "blocked_at", "is_blocked", "message_type"#, complained_at", "soft_bounced_at", "purchased_at", "hard_bounced_at",
#                          "clicked_first_time_at", "clicked_last_time_at", "unsubscribed_at", "platform",  
                          ])

#stream tem apenas 1 valor e nao ajuda com nada ao modelo
#category, blocked_at tem 100% MV
#is_blocked: 1 distinct values
#message_type dropped, same as campaign_type

## Split 'date' column

In [52]:
import pandas as pd

# Split the 'date'' column to have more information and detail on the:
# - day_of_month
# - day_ok_week 
# - is_weekend
# - moment_of_day
# - hour
# - min
#As the dataset only has data from sepecific month of 2021, we don't need to get the year, quarter.

# Convert the 'date' column to datetime
data_final['sent_at'] = pd.to_datetime(data_final['sent_at'], utc=True)

# Create new columns based on the date column 'event_time'
data_final['week_of_month'] = data_final['sent_at'].apply(lambda x: (x.day - 1) // 7 + 1)
data_final['is_weekend'] = data_final['sent_at'].dt.weekday.apply(lambda x: True if x >= 5 else False)
data_final['day_of_week_nr'] = data_final['sent_at'].dt.weekday  # Monday=0, Sunday=6
data_final['day_of_month'] = data_final['sent_at'].dt.day
data_final['month'] = data_final['sent_at'].dt.month_name()
data_final['hour'] = data_final['sent_at'].dt.hour
data_final['min'] = data_final['sent_at'].dt.minute

# Create function to get time of the day
def categorize_time_of_day(hour):
    if 5 <= hour < 12:
        return 'Morning'
    elif 12 <= hour < 17:
        return 'Afternoon'
    elif 17 <= hour < 21:
        return 'Evening'
    else:
        return 'Night'

data_final['time_of_day'] = data_final['hour'].apply(categorize_time_of_day)

# Display the updated DataFrame
data_final.head()

,channel_msg,platform,email_provider,date,sent_at,is_opened,opened_first_time_at,opened_last_time_at,is_clicked,clicked_first_time_at,...,subject_with_discount,subject_with_saleout,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:39+00:00,t,2021-04-30 07:22:44,2021-04-30 07:22:44,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
1,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:40+00:00,f,NaN,NaN,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
2,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:41+00:00,f,NaN,NaN,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
3,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:42+00:00,f,NaN,NaN,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
4,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:43+00:00,t,2021-04-30 07:22:46,2021-04-30 07:22:46,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning

# Save df from preprocessing into a csv file

In [53]:
# Definir o caminho para salvar o arquivo CSV
filepath = r'dataset/df_msg_pre_proc.csv'

# Salvar o DataFrame em CSV
data_final.to_csv(filepath, index=False)

data_final.head()

,channel_msg,platform,email_provider,date,sent_at,is_opened,opened_first_time_at,opened_last_time_at,is_clicked,clicked_first_time_at,...,subject_with_discount,subject_with_saleout,week_of_month,is_weekend,day_of_week_nr,day_of_month,month,hour,min,time_of_day
0,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:39+00:00,t,2021-04-30 07:22:44,2021-04-30 07:22:44,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
1,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:40+00:00,f,NaN,NaN,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
2,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:41+00:00,f,NaN,NaN,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
3,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:42+00:00,f,NaN,NaN,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning
4,mobile_push,NaN,NaN,2021-04-30,2021-04-30 07:22:43+00:00,t,2021-04-30 07:22:46,2021-04-30 07:22:46,f,NaN,...,False,False,5,False,4,30,April,7,22,Morning